.whatsapp-bull{

	width: 4.9%;
	padding: .9% 0;
	background-color: #25d366;
	position: fixed;
	bottom: 5%;
	right: 3%;
	z-index: 90;
	border-radius: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3vw;
	color: white;
	cursor: pointer;

}

.selected {
	/* background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%) !important;*/
	display: none;
   
}



@media only screen and (max-width: 480px){


	.whatsapp-bull{

		width: 16.7%;
	    padding: 3% 0;
	    background-color: #25d366;
	    position: fixed;
	    bottom: 5%;
	    right: 10%;
	    border-radius: 100vw;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 40px;
	    color: white;
	    cursor: pointer;

	}

	
	.selected {
		/* background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%) !important;*/
		display: none;
	   
	}

}