<app-banner></app-banner>
<!--<section class="booking-form">
    <div class="container">
        <app-booking-form></app-booking-form>
    </div>
</section>-->
<app-text-block></app-text-block>
<!--<app-core-features></app-core-features>-->


<!--<app-blog-post></app-blog-post>-->

<!--<app-testimonials></app-testimonials>-->

<!--<section class="counter-section bg-black pt-100 pb-50">
    <div class="container">
        <app-counter></app-counter>
    </div>
</section>-->

<app-footer-two [layout]="classname" [logo]="ftlogo"></app-footer-two>
<a target="_blank" href="https://api.whatsapp.com/send?phone=+21627595239&text=hello test!" >
    <div class="whatsapp-bull" [class.selected]="scroll < 75">
        <i class="fa-brands fa-whatsapp"></i>
    </div>
</a>