<div class="custom-footer">
        <div class="content-section">
            <div class="section-item about">
                <div class="title">À propos</div>
                <div class="about-description">
                    Dar Ichkeul vous offre le calme et la beauté de la nature, pour vous permettre de vous détendre,vous ressourcer et passer d'agréables moments en famille ou entre amis.
                    Vous y serez chaleureusement accueillis, nous vous souhaitons à tous, la bienvenue.
                </div>
            </div>
            <div class="section-item">
                <div class="title">Explore</div>
                <div class="pager-list">
                    <div class="item-list"><div class="point"></div><span routerLink="/">Acceuil</span></div>
                    <div class="item-list"><div class="point"></div><span routerLink="/about">À propos</span></div>
                    <div class="item-list"><div class="point"></div><span routerLink="/room-grid">Nos suites</span></div>
                    <div class="item-list"><div class="point"></div><span routerLink="/restaurant">Notre cuisine</span></div>
                    <div class="item-list"><div class="point"></div><span routerLink="/activités">Nos Activités</span></div>
                    <div class="item-list"><div class="point"></div><span routerLink="/contact">Contact</span></div>
                </div>
            </div>
            <div class="section-item">
                <div class="title">Contact</div>
                <div class="contact-details">
                    <div class="contact-adress">
                        Route de Tunis Km 3 Mateur, Borj Essabai 7030 Mateur, Tunisie
                    </div>
                    <div class="contact-phone">
                        <img src="./phone.png">
                        <div class="phone-number">+216 27 595 239</div>
                    </div>
                    <div class="contact-email">
                        <div>Support@darichkeul.tn</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-section">
            <i class="fa-regular fa-copyright"></i>
            Copyright 2022 by <span routerLink="/">Darichkeul.tn</span>
        </div>
</div>