<div class="slider-cover-restau">

    <div class="container-slider-restau">
            
        <div class="swiper restau-slider">
                
            <div class="swiper-wrapper" id="containerSliderRestau"></div>

        </div>

        <div class="btn-slider-restau slide-restau-left"><i class="fa-solid fa-angle-left"></i></div>
        <div class="btn-slider-restau slide-restau-right"><i class="fa-solid fa-angle-right"></i></div>

    </div>
    <div class="arrow-btn-bottom" (click)="toBottom(textSection)"><i class="fa-solid fa-arrow-down"></i></div>
        
</div>
<div class="text-block-section" #textSection>
    <div class="content">
        <div class="desc-block">
            <p class="title">Dar ichkeul</p>
            <p class="sb-title">Depuis 2015</p>
            <p class="description">
                Vous êtes à la recherche d'un cadre romantique en pleine campagne du Nord verdâtre de la Tunisie et d'une gamme de services conçus pour sublimer vos vacances ? Voilà ce qu'il vous faut: Dar Ichkeul. Située à proximité de la ville de Mateur
                avec une vue imprenable sur le parc national d'Ichkeul, elle vous apporte entière satisfaction. Dar Ichkeul dispose de 8 suites, différemment décorées avec soin et élégance et offrant tout le confort dont vous avez besoin et d'un service
                de chambre impeccable pour rendre votre séjour encore plus plaisant. Outre la piscine et son grand jardin, l’établissement rural situé au cœur d’une ferme agricole d’une dizaine d’hectares vous propose de nombreux espaces où on peut se
                retrouver entre familles ou amis, pour profiter du calme de la campagne, se prélasser au soleil, participer à la récolte des différents fruits, déguster les plats concoctés sur place, jouer au tennis ou faire des activités équestres. Le
                personnel de la maison d'hôtes se fera également un plaisir de vous servir lors de votre visite et vous fournir un petit déjeuner traditionnel de la région, succulent et savoureux
            </p>
            <div class="reservation-container">
                <i class="fa-brands fa-whatsapp"></i>
                <div class="text">
                    <p>Réservation</p>
                    <p class="num">+216 27 595 239</p>
                </div>
            </div>
        </div>
            <div class="images">
                <div class="image right" data-aos="fade-up" style="background-image: url('assets/img/photos_new_content/les_slides/IMG-0307.jpg');"></div>
                <div class="image left" data-aos="fade-up"  style="background-image: url('assets/img/photos_new_content/les_slides/B0F1A858-DD8D-468A-89C0-1C9C0494E37A.JPG');"></div>
            </div>
        </div>  
</div>

<div class="video-wrap video-wrap-two video-about mb-60" [style.background-image]="'url(assets/img/text-block/04.jpg)'">
            <a href="assets/img/video2.mp4" class="popup-video"><i
                    class="fas fa-play"></i></a>
</div>



<div class="services-flex-list">
    <div class="content">
        <p class="title">Nos services</p>
        <div class="services-list">   
            <div class="item-serv" data-aos="fade-up">  
                <i class="fa-solid fa-earth-asia"></i>
                <p class="title">Aéroport</p>
                <div class="description">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>
            </div>
            <div class="item-serv" data-aos="fade-up">                
                <i class="fa-solid fa-car"></i>
                <p class="title">Parking </p>
                <div class="description">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>
            </div>
            <div class="item-serv" data-aos="fade-up">
                <i class="fa-solid fa-utensils"></i>
                <p class="title">Petit déjeuner</p>  
                <div class="description">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>     
            </div>
            <div class="item-serv" data-aos="fade-up">
                <i class="fa-solid fa-person-swimming"></i>
                <p class="title">piscine</p>
                <div class="description">
                   Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>
            </div>
            <div class="item-serv" data-aos="fade-up">
                <i class="fa-solid fa-wifi"></i>
                <p class="title">Wifi</p>
                <div class="description">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>
            </div>
            <div class="item-serv" data-aos="fade-up">                    
                <i class="fa-solid fa-mug-saucer"></i>
                <p class="title">Café Nespresso</p>
                <div class="description">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>
            </div>
        </div>
    </div>
</div>



<div class="act-section" *ngFor="let item of actsList">
    <div class="content" *ngIf="item.position_image === 'left'">
        <div class="image" [style.background-image]="'url('+item.image+')'" data-aos="fade-right"></div>
        <div class="description-section" data-aos="fade-left">
            <div class="title"> {{item.title}} </div>
            <div class="desc-act"> {{item.description}} </div>
            <div class="time-act">
                <i class="fa-regular fa-clock"></i>
                <span> {{item.period}} : {{item.start_at}} am to {{item.end_at}} pm</span>
            </div>
        </div>
    </div>
    <div class="content" *ngIf="item.position_image === 'right'">
        <div class="description-section" data-aos="fade-right">
            <div class="title"> {{item.title}} </div>
            <div class="desc-act"> {{item.description}} </div>
            <div class="time-act">
                <i class="fa-regular fa-clock"></i>
                <span> {{item.period}} : {{item.start_at}} am to {{item.end_at}} pm</span>
            </div>
        </div>
        <div class="image" [style.background-image]="'url('+item.image+')'" data-aos="fade-left"></div>
    </div>
</div>

<div class="act-section-mobile" *ngFor="let item of actsList">
    <div class="content">
        <div class="image" [style.background-image]="'url('+item.image+')'" data-aos="fade-right"></div>
        <div class="description-section" data-aos="fade-left">
            <div class="title">{{item.title}}</div>
            <div class="desc-act"> {{item.description}} </div>
            <div class="time-act">
                <i class="fa-regular fa-clock"></i>
                <span>{{item.period}} : {{item.start_at}} am to {{item.end_at}} pm</span>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>


<div class="testimonial-section" style="background-image: url('/assets/img/photos_new_content/les_salons/IMG_6891.jpg') ;">
    <div class="container-ctn">
        <div class="content">
            <p class="title">Témoignage</p>
            <p class="subject-section">Ce que nos clients disent de nous</p>
            <div class="hr"></div>
            <div class="container-slider">     
                <div class="swiper testimonilas-slider" id="containerSwiperTestimonials">   
                    <div class="swiper-wrapper" id="containerTestimonialsSlider"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-two></app-footer-two>