@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300&family=Gilda+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

.slider-cover-restau{

    width: 100%;
    height: 100%;

}

.slider-cover-restau .arrow-btn-bottom{

    position: absolute;
    bottom: 6%;
    left: 51%;
    color: white;
    background: #ffffff00;
    z-index: 15;
    border: .1vw solid #ffffff8f;
    border-radius: 100%;
    padding: 1.2% 1.5%;
    font-size: 1.3vw;
    transition: .4s;
    cursor: pointer;

}

.slider-cover-restau .arrow-btn-bottom:hover{

    border-color: #aa8453;

}

.slider-cover-restau .container-slider-restau{

    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}


.slider-cover-restau .container-slider-restau .restau-slider{

    width: 100%;
    height: 100%;

}


.slider-cover-restau .container-slider-restau .restau-slider .swiper-wrapper{

    width: 100%;
    height: 100%;

}


.slider-cover-restau .container-slider-restau .restau-slider .swiper-wrapper .restau-slide-image{

    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

}


.slider-cover-restau .container-slider-restau .btn-slider-restau{

    position: absolute;
    width: 5%;
    padding: 1.3% 0;
    top: 0;
    z-index: 6;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100vw;
    border: .1vw solid white;
    transition: .4s;
    cursor: pointer;
    color: white;
    font-size: 2vw;
    top: 43%;

}

.slider-cover-restau .container-slider-restau .btn-slider-restau:hover{

    background-color: white;
    color: black;

}



.slider-cover-restau .container-slider-restau .btn-slider-restau.slide-restau-left{

    left: 4%;

}



.slider-cover-restau .container-slider-restau .btn-slider-restau.slide-restau-right{

    right: 4%;

} 

.text-block-section{

    width: 100%;
    height: 100%;
    background-color: whte;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14%;

}

.text-block-section .content{

    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.text-block-section .content .desc-block{

    width: 45%;
    height: 80%;
}

.text-block-section .content .desc-block .stars{

    width: 96%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 4%;

}

.text-block-section .content .desc-block .stars .star-icon{
    position: relative;
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.9em;
    margin-right: 0.9em;
    margin-bottom: 2em;
    border-right: 0.3em solid transparent;
    border-bottom: 0.7em solid #e4a853;
    border-left: 0.3em solid transparent;
    font-size: .6vw;
}

.text-block-section .content .desc-block .stars .star-icon:before{

    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0.6em;
    left: -1em;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid #e4a853;
    border-left: 1em solid transparent;
    transform: rotate(-35deg);

}

.text-block-section .content .desc-block .stars .star-icon:after{

    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0.6em;
    left: -1em;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid #e4a853;
    border-left: 1em solid transparent;
    transform: rotate(35deg);
}


.text-block-section .desc-block .title{

    width: 96%;
    padding-left: 4%;
    margin-bottom: 2%;
    font-size: 2vw;
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: 100;

}

.text-block-section .desc-block .sb-title{

    width: 96%;
    padding-left: 4%;
    font-size: 4vw;
    font-family: 'Gilda Display', serif;
    font-weight: 100;
    margin-top: 4%;
    color: black;


}

.text-block-section .desc-block .description{

    width: 96%;
    padding-left: 4%;
    margin-top: 3%;
    line-height: 2.2vw;
    color: #666;
    font-family: 'Barlow', sans-serif;

}

.text-block-section .content .desc-block .reservation-container{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    font-size: 1.5vw;
    margin-left: 5%;
    margin-top: 2%;

}


.text-block-section .content .desc-block .reservation-container i{

    font-size: 3vw;
    color: #8e6d45;

}

.text-block-section .content .desc-block .reservation-container .text{

    font-size: 1.6vw;
    text-align: left;
    width: 87%;
    font-family: 'Barlow Condensed', sans-serif;
    color: #666;

}

.text-block-section .content .desc-block .reservation-container .text .num{

    font-size: 2vw;
    width: 100%;
    color: #8e6d45;
    font-family: 'Barlow Condensed', sans-serif;

}

.text-block-section .content .desc-block .read-more-btn{

    width: 30%;
    height: 11%;
    background-color: #8e6d45;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4%;
    margin-top: 3%;
    font-size: 1.5vw;
    cursor: pointer;
    border: .2vw solid #8e6d45;
    transition: .4s;

}

.text-block-section .content .desc-block .read-more-btn:hover{

    background-color: white;
    color: #8e6d45;

}


.text-block-section .content .images{

    width: 46%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;

}

.text-block-section .content .images .image{

    width: 49%;
    height: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;

}


.text-block-section .content .images .image.left{

    bottom: 0;
    left: 0;

}

.text-block-section .content .images .image.right{

    right: 0;
    top: 0;

}




.services-flex-list{

    width: 100%;
    height: 110%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.services-flex-list .content{

    width: 90%;
    height: 80%;

}

.services-flex-list .content .title{

    font-size: 2.5vw;
    font-family: 'Gilda Display', serif;
    padding: 2%;
    font-weight: 100;

}

.services-flex-list .content .services-list{

    width: 100%;
    height: 90%;

}

.services-flex-list .content .services-list .item-serv{

    width: 30%;
    height: 48%;
    background-color: white;
    box-shadow: 0 0 0.6vw 0 #00000012;
    border: .1vw solid #d8d8d8;
    float: left;
    margin: 0 0 1% 2%;
    overflow: hidden;

}

.services-flex-list .content .services-list .item-serv p {

    margin: 0;

}

.services-flex-list .content .services-list .item-serv i{

    font-size: 4vw;
    padding-left: 5%;
    width: 91%;
    text-align: right;
    color: #aa8453;
    margin-top: 5%;

}

.services-flex-list .content .services-list .item-serv .title{

    width: 93%;
    float: left;
    display: flex;
    align-items: center;
    font-size: 1.9vw;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 5%;
    margin-top: 0;
    color: #232323;
    line-height: 3vw;

}

.services-flex-list .content .services-list .item-serv .description{

    width: 97%;
    height: auto;
    padding: 0 5%;
    color: gray;

}





/********  testimonials design   **********/


.testimonial-section{

    width: 100%;
    height: 90%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.testimonial-section .container-ctn{

    width: 100%;
    height: 100%;
    background-color: #0000004d;
    display: flex;
    align-items: center;
    justify-content: center;

}

.testimonial-section .content{

    width: 60%;
    height: 65%;
    color: white;
    position: relative;

}

.testimonial-section .content p{

    margin: 0;

}


.testimonial-section .content .title{

    font-size: 2.5vw;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;

}

.testimonial-section .content .subject-section{

    font-size: 2.9vw;
    padding: 2% 0;
    font-family: 'Gilda Display', serif;

}

.testimonial-section .content .hr{

    width: 100%;
    height: 0;
    border-top: .1vw solid white;
    margin-top: 1%;

}


.testimonial-section .content .container-slider{

    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}   

.testimonial-section .content .container-slider .testimonilas-slider{

    width: 100%;
    height: 100%;

}

.testimonial-section .content .container-slider .testimonilas-slider .swiper-wrapper{

    width: 100%;
    height: 86%;

}

.testimonial-section .content .container-slider .testimonilas-slider .swiper-wrapper .slide{

    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

.testimonial-section .content .container-slider .testimonilas-slider .swiper-wrapper .slide .client-info{

    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    margin-top: 3%;

}

.testimonial-section .content .container-slider .testimonilas-slider .swiper-wrapper .slide .client-info .photo{

    width: 9%;
    border-radius: 100vw;
    margin-left: 2%;

}

.testimonial-section .content .container-slider .testimonilas-slider .swiper-wrapper .slide .client-info .name{

    width: 60%;
    margin-left: 1%;
    font-size: 1.5vw;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: .1vw;

}

.testimonial-section .content .container-slider .testimonilas-slider .swiper-wrapper .slide .client-info .name .cl-post{

    font-size: 1.2vw;

}

.testimonial-section .content .container-slider .testimonilas-slider .swiper-wrapper .slide .rating{

    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1vw;
    padding-left: 3%;
    margin-top: 2%;
    color: #aa8453;

}


.testimonial-section .content .container-slider .testimonilas-slider .swiper-wrapper .slide .cl-description{

    width: 95%;
    height: 50%;
    margin-left: 3%;
    margin-top: 1%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5vw;

}


.testimonial-section .content .container-slider .testimonilas-slider .pagination-testimonials-pc{

    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: absolute;
    bottom: 7%;

}

.testimonial-section .content .container-slider .testimonilas-slider .pagination-testimonials-pc .swiper-pagination-bullet{

    border: 1px solid #848484;
    background-color: transparent;
    transform: scale(1.1);
    width: 12px;
    height: 12px;
    opacity: 1;

}

.testimonial-section .content .container-slider .testimonilas-slider .pagination-testimonials-pc .swiper-pagination-bullet-active{

    border-color: #aa8453;
    background-color: #aa8453;


}

.act-section{

    width: 100%;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.act-section .content{

    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.act-section .content .image{

    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.act-section .content .description-section{

    width: 50%;
    height: 100%;
    background: #f8f5f0;

}

.act-section .content .description-section .title{

    font-size: 3vw;
    font-family: 'Gilda Display', serif;
    margin: 5%;
    margin-top: 11%;

}

.act-section .content .description-section .desc-act{

    width: 90%;
    padding: 0 4%;
    line-height: 2vw;
    font-size: 1.5vw;
    font-family: 'Barlow Condensed', sans-serif;
    color: #666;

}

.act-section .content .description-section .time-act{

    width: 80%;
    padding: 3% 5%;
    font-family: 'Barlow Condensed', sans-serif;
    color: #666;
    font-size: 1.5vw;
    margin-top: 5%;

}

.act-section .content .description-section .time-act i{

    margin-right: 4%;

}


.act-section-mobile{
    display: none;
}

@media (max-width:700px){

    .slider-cover-room-details .arrow-btn-bottom{
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: #fff;
        font-size: 15px;
        border: 1px solid rgba(255,255,255,0.3);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 43%;
    }

    .text-block-section{

        height: auto;
        padding: 11% 0;
        margin: 0;

    }

    .text-block-section .content{

        display: block;

    }

    .text-block-section .content .desc-block{

        width: 100%;
        height: 42%;

    }

    .text-block-section .content .desc-block .stars .star-icon{

        font-size: 8px;

    }

    .text-block-section .desc-block .title{

        font-size: 23px;

    }

    .text-block-section .desc-block .sb-title{

        font-size: 26px;

    }

    .text-block-section .desc-block .description{

        line-height: 14px;
        font-size: 12px;

    }

    .text-block-section .content .desc-block .reservation-container{

        display: none;

    }

    .text-block-section .content .desc-block .read-more-btn{

        font-size: 14px;
        height: 15%;

    }

    .text-block-section .content .images{

        width: 100%;
        height: 314px;

    }

    .text-block-section .content .images .image{

        width: 48%;
        height: 71%;

    }

    .slider-cover-restau{

        width: 100%;
        height: 100%;

    }

    .slider-cover-restau .container-slider-restau .btn-slider-restau{

        width: 14.7%;
        padding: 3% 0;
        font-size: 31px;

    }

        .testimonial-section{

        width: 100%;
        height: 41%;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 11px;
    }

    .testimonial-section .content{

        width: 91%;
        height: auto;

    }

    .testimonial-section .content .title{

        font-size: 21px;
        margin-top: 7%;

    }

    .testimonial-section .content .container-slider .testimonilas-slider .swiper-wrapper .slide .client-info .name{

        font-size: 14px;

    }

    .testimonial-section .content .container-slider .testimonilas-slider .swiper-wrapper .slide .client-info .name .cl-post{

        font-size: 10px;

    }

    .testimonial-section .content .container-slider .testimonilas-slider .swiper-wrapper .slide .cl-description{

        font-size: 13px;
        height: 34%;

    }


    .testimonial-section .content .subject-section{

        font-size: 21px;

    }


    .services-flex-list{

        height: auto;

    }

    .services-flex-list .content{

        width: 90%;
        height: auto;

    }

    .services-flex-list .content .title{

        font-size: 26px;
        margin: 5% 0;
        text-align: center;

    }

    .services-flex-list .content .services-list{

        width: 100%;
        height: auto;

    }

    .services-flex-list .content .services-list .item-serv{

        width: 95%;
        height: 200px;
        margin-bottom: 6%;

    }

    .services-flex-list .content .services-list .item-serv i{

        font-size: 40px;

    }

    .services-flex-list .content .services-list .item-serv .title{

        font-size: 24px;
        width: 100%;
        float: left;
        overflow: hidden;
        padding-left: 5%;
        margin-top: 0;
        color: #232323;
        line-height: 37px;
        justify-content: left;
        text-align: left;

    }

    .services-flex-list .content .services-list .item-serv .description{

        font-size: 16px;

    }

    .act-section{

        display: none;

    }
    .act-section-mobile{

        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .act-section-mobile .content{

        width: 100%;
        height: 100%;

    }

    .act-section-mobile .content .image{

        width: 100%;
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .act-section-mobile .content .description-section{

        width: 100%;
        height: 50%;
        background: #f8f5f0;

    }

    .act-section-mobile .content .description-section .title{

        font-size: 31px;
        font-family: 'Gilda Display', serif;
        padding: 5% 5%;
    }

    .act-section-mobile .content .description-section .desc-act{

        width: 90%;
        padding: 0 4%;
        line-height: 26px;
        font-size: 18px;
        font-family: 'Barlow Condensed', sans-serif;
        color: #666;

    }

    .act-section-mobile .content .description-section .time-act{

        width: 80%;
        padding: 3% 5%;
        font-family: 'Barlow Condensed', sans-serif;
        color: #666;
        font-size: 16px;
        margin-top: 3%;

    }

    .act-section-mobile .content .description-section .time-act i{

        margin-right: 4%;

    }

    .container-testimonials{

        width: 100%;
        height: 85%;
        background-image: url(/assets/img/photos_new_content/les_salons/IMG_6891.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 25%;
        padding-bottom: 10%;
        position: relative;

    }

    .container-testimonials .content{

        width: 95%;
        height: 90%;

    }


    .container-testimonials .content .header{

        width: 100%;
        padding: 2% 0;
        color: white;

    }

    .container-testimonials .content .header .title {
        font-family: 'Barlow Condensed', sans-serif;
        color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 6px;
        margin-bottom: 10px;
    }

    .container-testimonials .content .header .subject {
        font-weight: 400;
        color: #fff;
        margin-bottom: 10px;
        font-size: 26px;
    }

    .container-testimonials .content .header .hr{

        width: 30%;
        border-top: 1px solid #ffffffa8;

    }


    .container-testimonials .content .testimonials-slider{

        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;   
        overflow: hidden;

    }

    .container-testimonials .content .testimonials-slider .swiper-wrapper{

        width: 100%;

    }

    .container-testimonials .content .testimonials-slider .swiper-wrapper .av-slide{

        width: 100%;
        height: 100%;

    }

    .container-testimonials .content .testimonials-slider .swiper-wrapper .av-slide .description {
        width: 97%;
        color: white;
        font-family: 'Barlow', sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.75em;
        margin-bottom: 4%;
    }

    .container-testimonials .content .testimonials-slider .swiper-wrapper .av-slide .info-user{

        width: 100%;
        display: flex;
        align-items: center;

    }

    .container-testimonials .content .testimonials-slider .swiper-wrapper .av-slide .info-user img{

        width: 20%;
        border-radius: 100%;
        margin: 0 3% 0 1%;

    }

    .container-testimonials .content .testimonials-slider .swiper-wrapper .av-slide .info-user .details{



    }

    .container-testimonials .content .testimonials-slider .swiper-wrapper .av-slide .info-user .details .rating{
        
        font-size: 11px;
        color: #e4a853;

    }


    .container-testimonials .content .testimonials-slider .swiper-wrapper .av-slide .info-user .details .name {
        font-size: 20px;
        margin-bottom: 4%;
        font-weight: 400;
        font-family: 'Barlow Condensed', sans-serif;
        color: #fff;
        line-height: 1em;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .container-testimonials .content .testimonials-slider .swiper-wrapper .av-slide .info-user .details .profession {

        font-size: 14px;
        color: #fff;
        line-height: 1em;
        font-family: 'Barlow', sans-serif;

    }

    .container-testimonials .content .testimonials-slider .pagination-testimonials{

        bottom: 17%;
        width: 100%;

    }


    .container-testimonials .content .testimonials-slider .pagination-testimonials .swiper-pagination-bullet{

        border: 1px solid #848484;
        background-color: transparent;
        transform: scale(1.1);
        width: 12px;
        height: 12px;
        opacity: 1;

    }

    .container-testimonials .content .testimonials-slider .pagination-testimonials .swiper-pagination-bullet-active{

        border-color: #aa8453;
        background-color: #aa8453;


    }


}