@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300&family=Gilda+Display&display=swap');

.slider-cover-restau{

    width: 100%;
    height: 100%;

}

.slider-cover-restau .container-slider-restau{

    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}


.slider-cover-restau .container-slider-restau .restau-slider{

    width: 100%;
    height: 100%;

}


.slider-cover-restau .container-slider-restau .restau-slider .swiper-wrapper{

    width: 100%;
    height: 100%;

}


.slider-cover-restau .container-slider-restau .restau-slider .swiper-wrapper .restau-slide-image{

    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

}


.slider-cover-restau .container-slider-restau .btn-slider-restau{

    position: absolute;
    width: 5%;
    padding: 1.3% 0;
    top: 0;
    z-index: 6;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100vw;
    border: .1vw solid white;
    transition: .4s;
    cursor: pointer;
    color: white;
    font-size: 2vw;
    top: 43%;

}

.slider-cover-restau .container-slider-restau .btn-slider-restau:hover{

    background-color: white;
    color: black;

}



.slider-cover-restau .container-slider-restau .btn-slider-restau.slide-restau-left{

    left: 4%;

}



.slider-cover-restau .container-slider-restau .btn-slider-restau.slide-restau-right{

    right: 4%;

}

.contact-content{

    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

}

.contact-content .infos{

    width: 39%;
    height: auto;

}

.contact-content .infos .title-site{

    width: 100%;
    padding: 0 3%;
    font-size: 6vw;
    color: black;
    font-family: 'Barlow Condensed', sans-serif;

}

.contact-content .infos .description{

    padding: 8% 4%;
    font-size: 1.4vw;
    font-family: 'Barlow Condensed', sans-serif;
    color: #5a5a5a;

}


.contact-content .infos .contact-item{

    width: 100%;
    height: 10%;
    margin: 4% 0;
    display: flex;
    align-items: center;

}

.contact-content .infos .contact-item i{

    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    color: #ab8a62;
    margin-right: 1%;

}

.contact-content .infos .contact-item .contact-text{

    width: 60%;
    height: 100%;

}

.contact-content .infos .contact-item .contact-text .title-text{

    font-size: 1.7vw;
    font-family: 'Barlow Condensed', sans-serif;
    color: #4a4a4a;

}

.contact-content .infos .contact-item .contact-text span{

    font-size: 2vw;
    font-family: 'Barlow Condensed', sans-serif;
    color: #8e6d45;
    line-height: 2vw;

}



.contact-content .contact-form{

    width: 38%;
    height: 49%;
    background-color: white;

}

.contact-content .contact-form .form-title{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5vw;
    color: #ab8a62;
    font-family: 'Barlow Condensed', sans-serif;

}

.contact-content .contact-form .form-title span{

    margin-top: -1%;

}


.contact-content .contact-form .form-title .hr{

    width: 24%;
    padding: .1%;
    background-color: black;

}

.contact-content .contact-form .flex-input-contact-form{


    width: 100%;
    height: 17%;
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contact-content .contact-form .flex-input-contact-form .input{

    width: 45%;
    height: 100%;

}

.contact-content .contact-form .flex-input-contact-form .input input{

    width: 100%;
    height: 100%;
    border: none;
    border-bottom: .1vw solid #8080803d;
    outline: none;
    padding: 4% 0;
    font-size: 1.2vw;
    font-family: 'Barlow Condensed', sans-serif;
    background-color: transparent;

}

.contact-content .contact-form .flex-input-contact-form .input input:focus{

    border-color: #ab8a62;

}

.contact-content .contact-form textarea{

    width: 100%;
    height: 40%;
    background-color: white;
    border: none;
    border-bottom: .1vw solid #8080803d;
    resize: none;
    margin-top: 7%;
    font-size: 1.2vw;
    color: #666;
    font-family: 'Barlow Condensed', sans-serif;
    color: black !important;
    padding: 0;
    background-color: transparent;


}

.contact-content .contact-form  textarea:focus{

    border-color: #ab8a62;

}

.contact-content .contact-form button{

    width: 55%;
    padding: 3% 0;
    font-size: 1.3vw;
    background-color: #ab8a62;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 3%;
    transition: .4s;
    text-transform: uppercase;

}

.contact-content .contact-form button:hover{

    background-color: #272727;

}

.reserv-form-contact-page{

    width: 100%;
    height: 80%;
    background-image: url("/assets/img/photos_new_content/les_slides/IMG-0307.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.reserv-form-contact-page .form{

    width: 27%;
    background-color: #f8f5f0;
    padding: 3%;
    display: block;

}

.reserv-form-contact-page .form .title-form{

    font-size: 1.7vw;
    margin-bottom: 6%;
    color: #ab8a62;
    text-align: left;
    border-bottom: 0.1vw solid #ab8a62;
    padding: 2% 0;
    margin-top: 12%;

}

.reserv-form-contact-page .form .input{

    padding: 4% 0;
    background: white;
    height: 8%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;

}
.reserv-form-contact-page .form .input input{

    height: 100% !important;
    width: 79%;
    background-color: white;
    padding: 0 4%;
    border: none;
}

.reserv-form-contact-page .form button{

    padding: 4% 3%;
    background-color: #ab8a62;
    color: white;
    border: none;
    font-size: 1.4vw;
    cursor: pointer;
    transition: .4s;

}

.reserv-form-contact-page .form button:hover{

    background-color: #232323;

}


.reserv-form-contact-page .form.suiv-form{

    position: relative;

}

.reserv-form-contact-page .form.suiv-form button{

    width: 100%;

}

.reserv-form-contact-page .form.suiv-form .input{

    margin-top: 2%;

}

.reserv-form-contact-page .form.suiv-form label{

    font-family: 'Gilda Display', serif;
    font-size: 1.4vw;

}

.reserv-form-contact-page .form.suiv-form .alert{

    position: absolute;
    right: 15%;
    font-size: 1vw;
    color: red;

}

.message-box-reserv{
    position: fixed;
    bottom: 7%;
    right: 2%;
    background: #f8f5f0;
    width: 30%;
    z-index: 5000000000000000;
    padding: 3% 3%;
    font-size: 1.3vw;
    border-left: 0.3vw solid #aa8453;
    display: none;
    align-items: center;
    animation: msgBoxAim .6s;
}

@keyframes msgBoxAim{

    0%{

        right: -1%;
        opacity: 0;

    }

}

.message-box-reserv i{

    font-size: 1.4vw;
    color: green;

}


@media (max-width:700px){

    .message-box-reserv{
        position: fixed;
        bottom: 9%;
        right: 5%;
        background: #f8f5f0;
        z-index: 5000000000000000;
        padding: 9% 6%;
        font-size: 17px;
        border-left: 0.3vw solid #aa8453;
    }

    .message-box-reserv i{

        font-size: 20px;

    }

    .contact-content{

        height: 140%;
        padding: 11% 7%;
        display: block;

    }

    .contact-content .infos{

        width: 100%;

    }

    .contact-content .infos .title-site{

        font-size: 39px;

    }

    .contact-content .infos .description{

        padding: 1% 4%;
        font-size: 19px;
        line-height: 25px;
        margin-top: 6%;

    }

    .contact-content .infos .contact-item i{

        font-size: 18px;
        width: 17%;

    }

    .contact-content .infos .contact-item .contact-text{

        width: 100%;

    }

    .contact-content .infos .contact-item .contact-text .title-text{

        font-size: 25px;

    }

    .contact-content .infos .contact-item .contact-text span{

        font-size: 20px;
        line-height: 24px;

    }

    .contact-content .contact-form{

        width: 100%;

    }

    .contact-content .contact-form .flex-input-contact-form .input input{

        font-size: 12px;

    }

    .contact-content .contact-form textarea{

        font-size: 12px;
        height: 35%;

    }

    .contact-content .contact-form button{

        padding: 4% 0;
        font-size: 19px;
        width: 100%;

    }

    .contact-content .contact-form .form-title{

        font-size: 23px;
        margin-top: 15%;

    }


    .reserv-form-contact-page .form{

        width: 77%;
        height: auto;
        background-color: #f8f5f0;
        padding: 8% 7%;

    }

    .reserv-form-contact-page .form .title-form{

        font-size: 28px;

    }

    .reserv-form-contact-page .form button{

        width: 100%;
        font-size: 23px;

    }

    .reserv-form-contact-page .form.suiv-form label{

        font-size: 23px;

    }

    .reserv-form-contact-page .form.suiv-form .alert{

        right: 8%;
        font-size: 16px;

    }

        
    .slider-cover-restau{

        width: 100%;
        height: 100%;

    }

    .slider-cover-restau .container-slider-restau .btn-slider-restau{

        width: 14.7%;
        padding: 3% 0;
        font-size: 31px;

    }

}