.success {
    background: #05b956;
    color: rgb(255, 255, 255);
}

.error {
    background: #db1111;
    color: rgb(255, 255, 255);
}

.slider-cover-room-details{

    width: 100%;
    height: 100%;

}

.slider-cover-room-details .arrow-btn-bottom{

    position: absolute;
    bottom: 6%;
    left: 51%;
    color: white;
    background: #ffffff00;
    z-index: 15;
    border: .1vw solid #ffffff8f;
    border-radius: 100%;
    padding: 1.2% 1.5%;
    font-size: 1.3vw;
    transition: .4s;
    cursor: pointer;

}



.slider-cover-room-details .arrow-btn-bottom:hover{

    border-color: #aa8453;

}


.slider-cover-room-details .container-slider-room{

    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}


.slider-cover-room-details .container-slider-room .room-slider{

    width: 100%;
    height: 100%;

}


.slider-cover-room-details .container-slider-room .room-slider .swiper-wrapper{

    width: 100%;
    height: 100%;

}


.slider-cover-room-details .container-slider-room .room-slider .swiper-wrapper .room-slide-image{

    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

}


.slider-cover-room-details .container-slider-room .btn-slider-room-detail{

    position: absolute;
    width: 5%;
    padding: 1.3% 0;
    top: 0;
    z-index: 6;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100vw;
    border: .1vw solid white;
    transition: .4s;
    cursor: pointer;
    color: white;
    font-size: 2vw;
    top: 43%;

}

.slider-cover-room-details .container-slider-room .btn-slider-room-detail:hover{

    background-color: white;
    color: black;

}



.slider-cover-room-details .container-slider-room .btn-slider-room-detail.slide-room-left{

    left: 4%;

}



.slider-cover-room-details .container-slider-room .btn-slider-room-detail.slide-room-right{

    right: 4%;

} 



.room-details-infos{

    width: 100%;
    height: auto;
    background-color: white;
    position: relative;
    padding: 5% 0;
    color: black;

}

.room-details-infos .content{

    width: 100%;
    min-height: 80%;
    padding: 0 6%;
    display: flex;
    justify-content: space-between;

}

.room-details-infos .content .left-section{

    width: 60%;
    height: 100%;
    overflow: hidden;
    position: relative;

}

.room-details-infos .content .left-section button{

    position: absolute;
    left: 0;
    bottom: -8%;
    padding: 1.2% 2%;
    border: none;
    background-color: #ab8a62;
    font-weight: 400;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1.6vw;
    color: white;

}

.room-details-infos .content .left-section button:hover{

    background-color: #2a2a2a;

}


.room-details-infos .content .left-section .rating-room{

    width: 100%;
    font-size: 1.2vw;
    color: #b48b57;
    display: flex;
    align-items: center;

}

.room-details-infos .content .left-section .titles{

    width: 100%;
    font-size: 3vw;
    font-family: 'Gilda Display', serif;

}

.room-details-infos .content .left-section .titles span{

    font-size: 1.3vw;
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: 2%;

}


.room-details-infos .content .left-section .description{

    width: 80%;
    padding: 3% 1%;
    font-size: 1.6vw;
    line-height: 3vw;
    font-family: 'Barlow Condensed', sans-serif;
    color: #2c2c2c;
    margin-bottom: 3%;

}


.room-details-infos .content .left-section .amenities-section{

    width: 100%;

}

.room-details-infos .content .left-section .amenities-section .amenitie-item{

    display: flex;
    align-items: center;
    float: left;
    width: 50%;
    font-size: 1.3vw;
    margin-right: 3%;
    margin-bottom: 5%;
    font-family: 'Barlow Condensed', sans-serif;

}

.room-details-infos .content .left-section .amenities-section .amenitie-item .mobile-resrev-btn{

    padding: 4% 12%;
    border: none;
    background-color: #ab8a62;
    font-weight: 400;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    display: none;

}


.room-details-infos .content .left-section .amenities-section .amenitie-item i{

    margin-right: 5%;
    color: #b48b57;
    width: 7%;
    text-align: center;

}



.room-details-infos .content .right-section{

    width: 35%;
    padding: 2% 0;
    background-color: #f6f6f6;
    height: 0%;

}

.room-details-infos .tarifs-section{

    width: 100%;
    padding: 4% 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.room-details-infos .tarifs-section .content-tarifs{

    width: 90%;
    padding: 1% 0;
}

.room-details-infos .tarifs-section .content-tarifs .title-tarifs-section{

    width: 100%;
    font-size: 2vw;
    font-family: 'Gilda Display', serif;
    text-transform: uppercase;

}

.room-details-infos .tarifs-section .content-tarifs .hr{

    border-top: .1vw solid gray;
    width: 100%;
    margin-top: 2%;

}

.room-details-infos .tarifs-section .content-tarifs .tarif-item{

    width: 97%;
    padding: 3% 1%;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
    color: #2c2c2c;

}

.room-details-infos .tarifs-section .content-tarifs .tarif-item i{

    margin-right: 2%;
    color: #b48b57;

}


.room-details-infos .content .right-section .reservation-form-room-details{

    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 4% 0;
}

.room-details-infos .content .right-section .reservation-form-room-details .form{

    width: 85%;
    height: auto;
    padding: 3% 0;

}

.room-details-infos .content .right-section .reservation-form-room-details .form .input-col-6-form{

    width: 100%;
    position: relative;
    border: none;

}

.room-details-infos .content .right-section .reservation-form-room-details .form .input-col-6-form label{

    font-family: 'Barlow Condensed', sans-serif;

}

.room-details-infos .content .right-section .reservation-form-room-details .form .input-col-6-form .input{

    width: 100%;
    padding: 10% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ededed;
    position: relative;
    margin-bottom: 6%;
    margin-top: 2%;

}

.room-details-infos .content .right-section .reservation-form-room-details .form .input-col-6-form .input.date{

    padding: 4% 0;

}


.room-details-infos .content .right-section .reservation-form-room-details .form .input-col-6-form .input .date-picker-no-show{

        height: 100%;
        background-color: transparent;
        border: none;
        opacity: 0;
        pointer-events: none;

}

.room-details-infos .content .right-section .reservation-form-room-details .form .input-col-6-form .input .input-show{

        margin: 0;
        position: absolute;
        z-index: 2;
        left: 5%;
        font-size: 16px;
        height: 100%;
        width: 75%;
        text-align: left;
        padding: 0;
        background-color: transparent;
        border:none;

}

.room-details-infos .content .right-section .reservation-form-room-details .form .input-col-6-form .input .input-show.select{

    width: 90%;

}

.room-details-infos .content .right-section .reservation-form-room-details .form .input-col-6-form .button{

    width: 50%;
    padding: 4% 0;
    font-size: 1.3vw;
    border: none;
    color: white;
    background-color: #aa8453;
    cursor: pointer;

}

.room-details-infos .content .right-section .reservation-form-room-details .form.step-2 .input-col-6-form .button{

    width: 100%;

}

.room-details-infos .content .right-section .reservation-form-room-details .form .input-col-6-form label{

    font-size: 1.4vw;

}


.alertErrorInput{

    color: red;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;

}


.our-services{

    width: 100%;
    height: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;

}



.our-services .content{

    width: 90%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

} 

.our-services .content .desc-services{

    width: 40%;
    height: 100%;
    color: white;

}

.our-services .content .desc-services p{

    margin-bottom: 5%;

}


.our-services .content .desc-services .title{

    font-size: 2vw;
    color: #aa8453;
    font-family: 'Barlow Condensed', sans-serif;

}

.our-services .content .desc-services .sb-title{

    font-size: 4vw;
    font-family: 'Gilda Display', serif;
    line-height: 5vw;

}

.our-services .content .desc-services .description{

    width: 80%;
    font-size: 1.4vw;
    line-height: 2vw;
    color: #adadad;
    font-family: 'Barlow Condensed', sans-serif;    

}

.our-services .content .slider{

    width: 57%;
    height: 90%;
    overflow: hidden;

}

.our-services .content .slider .btn-slider{

    width: 4%;
    padding: .6% 0;
    border: .1vw solid #aa8453;
    color: #aa8453;
    position: absolute;
    font-size: 2.3vw;
    border-radius: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    top: 42%;
    cursor: pointer;

}

.our-services .content .slider .btn-slider.left{

    left: 38%;

}

.our-services .content .slider .btn-slider.right{

    right: -4.5%;

}

.our-services .content .slider .slider-prices{

    width: 99%;
    height: 100%;


}


.our-services .content .slider .slider-prices .slides-container{

    width: 100%;
    height: 100%;

}

.our-services .content .slider .slider-prices .container{

    width: 100%;
    height: 100%;

}

.our-services .content .slider .slider-prices .container .swiper{

    width: 100%;
    height: 100%;

}

.our-services .content .slider .slider-prices .container .swiper .swiper-wrapper{

    width: 100%;
    height: 100%;

}

.our-services .content .slider .slider-prices .container .slide{

    width: 50%;
    height: 100%;

}

.our-services .content .slider .slider-prices .container .slide .image-cover{

    width: 100%;
    height: 40%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


.our-services .content .slider .slider-prices .container .slide .content-slide{

    width: 100%;
    height: 60%;
    position: relative;
    background-color: white;

}

.our-services .content .slider .slider-prices .container .slide .content-slide .header{
    
    width: 100%;
    height: 36%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.our-services .content .slider .slider-prices .container .slide .content-slide .header .title-slide{

    font-size: 2vw;
    font-family: 'Gilda Display', serif;
    padding: 0 4%;

}


.our-services .content .slider .slider-prices .container .slide .content-slide .header .logo{

    font-size: 2.7vw;
    font-family: 'Barlow Condensed', sans-serif;
    color: #a98353;
    padding: 0 6%;

}

.our-services .content .slider .slider-prices .container .slide .content-slide .description{

    font-size: 1.4vw;
    font-family: 'Gilda Display', serif;
    width: 100%;
    height: 74%;
    padding: 0 6%;
    color: black;

}


@media (max-width:700px){

    .room-details-infos .content .left-section .amenities-section .amenitie-item .mobile-resrev-btn{

        display: block;

    }

    .room-details-infos .content .left-section button{

        display: none;

    }
    .our-services{

        height: 76%;

    }

    .our-services .content .desc-services .description{

        display: none;

    }

    .our-services .content{

        display: block;
        height: 89%;

    }

    .our-services .content p{

        margin: 0;

    }


    .our-services .content .desc-services{

        width: 100%;
        height: 61%;

    }

    .our-services .content .desc-services .title{

        font-size: 23px;

    }

    .our-services .content .desc-services .sb-title{

        font-size: 39px;
        line-height: 44px;

    }
    .our-services .content .desc-services .description{

        font-size: 21px;
        line-height: 24px;

    }

    .our-services .content .slider{

        width: 100%;
        height: 74%;
        margin-top: -59%;

    }

    .our-services .content .slider .slider-prices{

        width: 100%;
        height: 100%;

    }

    .our-services .content .slider .btn-slider{

        display: none;

    }

    .our-services .content .slider .slider-prices .container .slide{
        width: 78%;
        height: 100%;
    }

    .our-services .content .slider .slider-prices .container .slide .content-slide .header .title-slide{

        font-size: 21px;

    }

    .our-services .content .slider .slider-prices .container .slide .content-slide .header .logo{

        font-size: 29px;

    }

    .our-services .content .slider .slider-prices .container .slide .content-slide .description{

        font-size: 11px;

    }


}

.reserv-form-contact-page{

    width: 100%;
    padding: 9% 0;
    background-image: url("/assets/img/photos_new_content/les_slides/IMG-0307.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.reserv-form-contact-page .form{

    width: 27%;
    background-color: #f8f5f0;
    padding: 3%;
    display: block;

}

.reserv-form-contact-page .form .title-form{

    font-size: 1.7vw;
    margin-bottom: 6%;
    color: #ab8a62;
    text-align: left;
    border-bottom: 0.1vw solid #ab8a62;
    padding: 2% 0;
    margin-top: 12%;

}

.reserv-form-contact-page .form .input{

    padding: 9% 0;
    background: white;
    height: 8%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;

}
.reserv-form-contact-page .form .input input{

    height: 100% !important;
    width: 79%;
    background-color: white;
    padding: 0 4%;
    border: none;
}

.reserv-form-contact-page .form button{

    padding: 6% 3%;
    background-color: #ab8a62;
    color: white;
    border: none;
    font-size: 1.4vw;
    cursor: pointer;
    transition: .4s;

}

.reserv-form-contact-page .form button:hover{

    background-color: #232323;

}


.reserv-form-contact-page .form.suiv-form{

    position: relative;

}

.reserv-form-contact-page .form.suiv-form button{

    width: 100%;

}

.reserv-form-contact-page .form.suiv-form .input{

    margin-top: 2%;

}


.reserv-form-contact-page .form.suiv-form .select-form-reserv{
    padding: 0;
}

.reserv-form-contact-page .form.suiv-form .select-form-reserv select{

    background-color: white;

}

.reserv-form-contact-page .form.suiv-form label{

    font-family: 'Gilda Display', serif;
    font-size: 1.4vw;

}

.reserv-form-contact-page .form.suiv-form .alert{

    position: absolute;
    right: 6%;
    font-size: 1vw;
    color: red;
    display: none;                                                                                                        

}

.message-box-reserv{
    position: fixed;
    bottom: 7%;
    right: 2%;
    background: #f8f5f0;
    width: 33%;
    z-index: 5000000000000000;
    padding: 2% 2%;
    font-size: 1.3vw;
    border-left: 0.3vw solid #aa8453;
    display: none;
    align-items: center;
    animation: msgBoxAim .6s;
}

@keyframes msgBoxAim{

    0%{

        right: -1%;
        opacity: 0;

    }

}

.message-box-reserv i{

    font-size: 2vw;
    color: green;
    margin-right: 6%;

}


@media (max-width:700px){

    .slider-cover-room-details .arrow-btn-bottom{
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: #fff;
        font-size: 15px;
        border: 1px solid rgba(255,255,255,0.3);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 43%;
    }

    .message-box-reserv{
        position: fixed;
        top: 18%;
        background: #f8f5f0;
        z-index: 5000000000000000;
        padding: 0 6%;
        font-size: 17px;
        border-left: 3px solid #aa8453;
        width: 94%;
        height: 13%;
    }

    .message-box-reserv i{

        font-size: 20px;

    }

    .room-details-infos .content .right-section .reservation-form-room-details .form .input-col-6-form .button{

        font-size: 21px;

    }

    .room-details-infos .content .right-section .reservation-form-room-details .form .input-col-6-form label{

        font-size: 18px;

    }

    .room-details-infos .content{

        display: block;

    }

    .room-details-infos .content .left-section{

        width: 100%;

    }

    .room-details-infos .content .right-section{

        width: 100%;

    }   

    .room-details-infos .content .left-section .rating-room{

        font-size: 9px;

    }

    .room-details-infos .content .left-section .titles span{

        font-size: 16px;

    }


    .room-details-infos .content .left-section .titles{

        font-size: 38px;

    }

    .room-details-infos .content .left-section .description{

        font-size: 14px;
        line-height: 27px;

    }

    .room-details-infos .content .left-section .amenities-section .amenitie-item{

        font-size: 13px;
        width: 78%;

    }

    .room-details-infos .tarifs-section .content-tarifs .title-tarifs-section{

        font-size: 24px;

    }

    .room-details-infos .tarifs-section .content-tarifs .tarif-item{

        font-size: 11px;

    }


    .slider-cover-room-details{

        height: 100%;

    }

    .slider-cover-room-details .container-slider-room .btn-slider-room-detail{

        width: 14.7%;
        padding: 3% 0;
        font-size: 31px;

    }

    .reserv-form-contact-page .form{

        width: 86%;
        height: auto;
        background-color: #f8f5f0;
        padding: 8% 7%;

    }

    .reserv-form-contact-page .form .title-form{

        font-size: 28px;

    }

    .reserv-form-contact-page .form button{

        width: 100%;
        font-size: 23px;

    }

    .reserv-form-contact-page .form.suiv-form label{

        font-size: 23px;

    }

    .reserv-form-contact-page .form.suiv-form .alert{

        right: 2%;
        font-size: 16px;

    }

}








