<div class="slider-cover-room-details">

    <div class="container-slider-room">
            
        <div class="swiper room-slider">
                
            <div class="swiper-wrapper" id="containerSliderRoomDetails"></div>

        </div>

        <div class="btn-slider-room-detail slide-room-left"><i class="fa-solid fa-angle-left"></i></div>
        <div class="btn-slider-room-detail slide-room-right"><i class="fa-solid fa-angle-right"></i></div>

    </div>
        
</div>


<div class="room-details-infos" *ngFor="let item of room_selected">
        
        <div class="content">
            <div class="left-section">
                
                <div class="rating-room">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="titles">
                    <span>Dar Ichkeul</span>
                    <p> {{item.title}} </p>
                </div>
                <div class="description" [innerHtml]="item.longdesc"></div>

                <div class="amenities-section">
                    <div class="amenitie-item" *ngFor="let am of item.amenities">
                        <i [class]="am.icon"></i>
                        <span> {{am.title}} </span>
                    </div>
                </div>

            </div>

            <div class="right-section">
                <div class="reservation-form-room-details">
                        
                    <div class="form step-1" *ngIf="step_active === 'step 1'">

                        <div class="input-col-6-form" [formGroup]="reservationChambreForm">
                                <label>Date d'arrivée</label>
                                <div class="input date">
                                    <input placeholder="Date d'arrivée" readonly class="input-show" #dateDebutMobile/>
                                    <input [matDatepicker]="dateDebutReservMobile"  [min]="todayDate" class="date-picker-no-show" (dateChange)="this.getDateDebutValue($event,dateDebutMobile)" [matDatepickerFilter]="DateNoDispoFilter" formControlName='date_arrive' />
                                    <mat-datepicker-toggle style="width: 16%;" [for]="dateDebutReservMobile"></mat-datepicker-toggle>
                                    <mat-datepicker #dateDebutReservMobile></mat-datepicker>
                                </div>

                                <label>Date de départ</label>
                                <div class="input date">
                                    <input placeholder="Date de départ" readonly class="input-show" #dateFinMobile/>
                                    <input [matDatepicker]="dateFinReservMobile" [min]="DateArr2" [max]="maxResvation" class="date-picker-no-show" (dateChange)="this.getDateFinValue($event,dateFinMobile)" [matDatepickerFilter]="DateNoDispoFilter" formControlName='date_depart'>
                                    <mat-datepicker-toggle style="width: 16%;" [for]="dateFinReservMobile"></mat-datepicker-toggle>
                                    <mat-datepicker #dateFinReservMobile></mat-datepicker>
                                </div>

                                <label>Chambre</label>
                                <div class="input">
                                    <input [value]="item.title" style="pointer-events: none;user-select: none;" readonly class="input-show" />
                                </div>
                                <button class="button" [disabled]="!reservationChambreForm.valid"  (click)="nextStep('step 2')">Suivant</button>
                        </div>

                    </div>
                    <div class="form step-2" [formGroup]="user" *ngIf="step_active === 'step 2'">
                        <div class="input-col-6-form">
                                <label>Nom *</label>
                                <div class="input" >
                                    <input placeholder="Nom" class="input-show" formControlName='nom' />
                                    <label *ngIf="user.controls.nom.hasError('required') && this.user.controls.nom.touched" style="

                                    color: red;
                                    position: absolute;
                                    margin-top: -34%;
                                    right: 0;

                                    ">Obligatoire</label>
                                </div>

                                <label>Prénom *</label>
                                <div class="input">
                                    <input placeholder="Prénom" class="input-show" formControlName='prenom'/>
                                    <label *ngIf="user.controls.prenom.hasError('required') && this.user.controls.prenom.touched" style="


                                    color: red;
                                    position: absolute;
                                    margin-top: -34%;
                                    right: 0;


                                    ">Obligatoire</label>
                                </div>

                                <label>Adresse E-mail *</label>
                                <div class="input">
                                    <input placeholder="Adresse E-mail" class="input-show" formControlName='email'/>
                                    <label *ngIf="user.controls.email.hasError('required') && this.user.controls.email.touched" style="

                                    color: red;
                                    position: absolute;
                                    margin-top: -34%;
                                    right: 0;

                                    ">Obligatoire</label>
                                <label 
                                    *ngIf="user.controls.email.hasError('email') && this.user.controls.email.touched" style="
                                    color: red;
                                    position: absolute;
                                    margin-top: -34%;
                                    right: 0;
                                    ">Adresse invalide</label>
                                </div>

                                <label>Téléphone *</label>
                                <div  class= "input">
                                    <input  type="text" placeholder="Numéro de téléphone" class="input-show"formControlName='phone' (input)="validPhone($event.target.value)"/>
                                    <label *ngIf="user.controls.phone.hasError('required') && this.user.controls.phone.touched" style="

                                    color: red;
                                    position: absolute;
                                    margin-top: -34%;
                                    right: 0;

                                    ">Obligatoire</label>
                                    <label *ngIf="testLengthPhone" style="

                                    color: red;
                                    position: absolute;
                                    margin-top: -34%;
                                    right: 0;

                                    ">numéro invalide</label>                            
                                </div>
                                <label>nombres de chambres</label>
                                <div class="input">
                                    <select class="input-show select" >
                                        <option [value]="item" *ngFor="let item of  tabPresonnes " (change)="selectTarif($event)" >{{item}}</option>
                                    </select>
                                </div>
                                <button class="button"  (click)="confirmReservation()">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>

<app-prices-room-details></app-prices-room-details>


    <!--div class="container">
        <div class="row">
            <details>
            <div class="col-lg-8">
                <div class="deatils-box">
                    <div class="title-wrap">
                        <div class="title" >
                            <<div class="room-cat" *ngFor="let category of getCategories(item.category) | slice:0:1">{{category.title}}</div>>
                            <h2>{{item.title}}</h2>
                            <p [innerHtml]="item.longdesc" class="mt-5"></p>
                        </div>
                        <div class="price">
                            ${{item.price | number:'1.0-0'}}<span>/{{item.period}}</span>
                        </div>
                    </div>
                    <div class="slider-images">
                        <div class="btn-slider left" (click)="this.previousSlide('image-room'+item.title)"><i class="fa-solid fa-angle-left"></i></div>
                        <div class="btn-slider right" (click)="this.nextSlide('image-room'+item.title)"><i class="fa-solid fa-angle-right"></i></div>
                        <img [src]="item.sliderimage" class="w-100" [alt]="item.title">
                        <div class="slider-images-room-details" id="sliderImagesRoomDetails">
                            <div class="image" *ngFor="let img of item.sliderimage" [id]="'image-room'+item.title">
                                <img [src]="img" [alt]="item.title"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="room-rules clearfix mb-60 ">
                        <h3 class="subtitle ">Tarifs</h3>
                        <ul class="room-rules-list ">
                            <li *ngFor="let text of item.rules ">{{text}}</li>
                        </ul>
                    </div>
                    <div class="room-fearures clearfix mt-60 mb-60 ">
                        <h3 class="subtitle ">Amenities</h3>
                        <ul class="room-fearures-list ">
                            <li *ngFor="let item of item.amenities "><i [class]="item.icon "></i>{{item.title}}</li>
                        </ul>
                    </div>
                    <div></div>
                    <div class="testimonials mt-60 mb-20 ">
                        <div class="row ">
                            <div class="col-lg-6 col-sm-6 " *ngFor="let author of getAuthor(item.authors) | slice:0:2 ">
                                <div class="testimonial-box ">
                                    <div class="client-img ">
                                        <img [src]="author.img " [alt]="author.name ">
                                        <span class="check "><i class="fal fa-check "></i></span>
                                    </div>
                                    <h3>{{author.name}}</h3>
                                    <span class="clinet-post ">{{author.designation}}</span>
                                    <p>{{author.shotdesc}}</p>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!--<div class="cancellation-box clearfix mb-60 ">
                        <h3 class="subtitle ">Cancellation</h3>
                        <p [innerHtml]="item.cancellation "></p>
                    </div>
                    <agm-map class="room-map mb-60 " id="roomMap " [latitude]="item.location[0] " [longitude]="item.location[1] " [zoom]="zoom ">
                        <agm-marker [latitude]="item.location[0] " [longitude]="item.location[1] "></agm-marker>
                    </agm-map>-->
                    <!--<div class="related-room mt-60 ">
                        <h3 class="subtitle ">Related Rooms</h3>
                        <div class="row room-gird-loop ">
                            <div class="col-lg-6 col-sm-6 " *ngFor="let room of getRoomByCategory(item.category) | slice:0:2 ">
                                <div class="room-box mb-30 ">
                                    <div class="room-img-wrap ">
                                        <div class="room-img " [style.background-image]=" 'url('+room.gridimage+ ')' "></div>
                                    </div>
                                    <div class="room-desc ">
                                        <ul class="icons ">
                                            <li *ngFor="let room of room.amenities | slice:0:7 "><i [class]="room.icon "></i></li>
                                        </ul>
                                        <h4 class="title "><a routerLink="/room-details/{{room.id}} ">{{room.title}}</a></h4>
                                        <p>{{room.text | slice:0:75}}...</p>
                                        <span class="price ">${{room.price | number:'1.0-0'}}/{{room.period}}</span>
                                        <a routerLink="/room-details/{{room.id}} " class="book-btn ">Booking Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>>
                </div>
            </div>
            <form>
            <div class="col-lg-4 ">
                <app-room-sidebar [changeView]="checkserver " [childMessage]="item " (bookTitleCreated)=onBookAdded($event) (FormCreated)=onAddInfo($event)></app-room-sidebar>
            </div>

            <div style="display: none; ">
                <app-breadcrumb [childMessage]="item "></app-breadcrumb>
            </div>

        </div>
    </div-->