<div class="nav-bar">
        <img src="/assets/img/banner/ichkeul-logo.png" class="logo">
        <div class="menu-nav-bar">
            <div class="list">
                <div class="item" *ngFor="let item of routes_btn_list" [routerLink]="'/'+item.router_link"> {{item.title}} </div>
            </div>
        </div>
</div>

<div class="nav-bar-onscroll" [class.selected]="scroll < 75">
		
		<img src="/assets/img/banner/ichkeul-logo.png" class="logo">
		<div class="menu-bar-icon" (click)="sideBarOC()"><i class="fa-solid fa-bars"></i></div>

		<div class="menu-nav-bar">
			<div class="list">
                <div class="item" *ngFor="let item of routes_btn_list" [routerLink]="'/'+item.router_link"> {{item.title}} </div>
			</div>
		</div>

</div>

<div class="menu-bar-icon" (click)="sideBarOC()"><i class="fa-solid fa-bars"></i></div>

<div class="side-bar-mobile" [ngStyle]="{'height':this.sideBarHeight}">
		<div class="list">
                <div class="item" (click)="sideBarOC()" *ngFor="let item of routes_btn_list" [routerLink]="'/'+item.router_link" > {{item.title}} </div>
		</div>
</div>
<app-preloader></app-preloader>
<router-outlet (activate)="onActivate($event)"></router-outlet>

<button class="reserv-btn" [class.selected]="scroll < 75">réserver</button>

