.whatsapp-bull{

    width: 4.9%;
    padding: .9% 0;
    background-color: #25d366;
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 90;
    border-radius: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    color: white;
    cursor: pointer;

}

.selected {
    /* background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%) !important;*/
    display: none;
   
}



@media only screen and (max-width: 480px){


    .whatsapp-bull{

        width: auto;
        padding: 4% 4.7%;
        background-color: #25d366;
        position: fixed;
        bottom: 4%;
        right: 8%;
        border-radius: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: white;
        cursor: pointer;

    }

    
    .selected {
        /* background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%) !important;*/
        display: none;
       
    }

}
.nav-bar-onscroll{

    width: 100%;
    height: 15%;
    background-color: white;
    position: fixed;
    z-index: 1000000000000000000000000;
    box-shadow: 0 0 3vw 0 #20202030;
    display: flex;
    align-items: center;
    transition: .4s;
    animation: navbarscroll .6s;
    top: 0;
    left: 0;

}


@keyframes navbarscroll {

    0%{
        opacity: 0;
        height: 12%;
    }

}


.nav-bar-onscroll .logo{

    width: 15%;
    transform: translateX(25%);

}

.nav-bar-onscroll .menu-nav-bar{

    width: 70%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 9%;

}

.nav-bar-onscroll .menu-nav-bar .list{

    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6vw;
}

.nav-bar-onscroll .menu-nav-bar .list .item{

    cursor: pointer;
    font-family: 'Barlow Condensed', sans-serif;

}

.nav-bar-onscroll .menu-nav-bar .list .item:hover{

    color: #aa8453;

}

.nav-bar-onscroll .menu-nav-bar .list .item.active{

    color: #aa8453;

}


.menu-bar-icon,.side-bar-mobile{

    display: none;

}

.form-home-page-mobile{

    display: none;

}

.menu-bar-icon,.side-bar-mobile{

    display: none;

}


.nav-bar{

    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;

}


.nav-bar{

    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;

}

.nav-bar .logo{

    width: 12%;
    transform: scale(1.3);

}


.nav-bar .menu-nav-bar{

    width: 50%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-bar .menu-nav-bar .list{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-bar .menu-nav-bar .list .item{

    font-size: 1.6vw;
    font-weight: 300;
    color: white;
    cursor: pointer;
    transition: .4s;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: .1vw;

}

.nav-bar .menu-nav-bar .list .item.active{

    color: #aa8453;

}


.nav-bar .menu-nav-bar .list .item:hover{

    color: #aa8453;

}


.selected {
	display: none;
}

@media (max-width:700px){

    .nav-bar .logo {
        width: 31%;
        height: auto;
        position: absolute;
        left: 9%;
        top: 14%;
    }

    .nav-bar .menu-nav-bar{
        display: none;
    }


	.selected {
		display: none;
	}
    .nav-bar-onscroll .menu-bar-icon{

        width: 14%;
        height: 50%;
        background-color: #00800000;
        position: absolute;
        top: 20%;
        left: 77%;
        z-index: 5;
        display: flex;
        font-size: 23px;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        color: black;

    }

    .nav-bar .menu-nav-bar{
        display: none;
    }

    .nav-bar-onscroll .menu-bar-icon{

        width: 14%;
        height: 50%;
        background-color: #00800000;
        position: absolute;
        top: 20%;
        left: 77%;
        z-index: 5;
        display: flex;
        font-size: 23px;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        color: black;

    }

    .nav-bar-onscroll .menu-nav-bar{
        display: none;
    }

    .nav-bar-onscroll .logo{
        width: 54%;
        margin-top: 4%;
        transform: translateX(0);
    }

	.menu-bar-icon{
        width: 12%;
        height: 6%;
        background-color: #00800000;
        position: absolute;
        top: 3%;
        right: 6%;
        z-index: 5;
        display: flex;
        font-size: 23px;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        color: white;
    }

    .side-bar-mobile{

        display: block;
        width: 100%;
        height: 0%;
        position: fixed;
        background-color: white;
        transition: height 0.4s;
        display: flex;
        justify-content: center;
        z-index: 50000000000000000000000;
        top: 15%;
        overflow: hidden;

    }

    .side-bar-mobile .menu-bar-icon{
        width: 14%;
        padding: 2.5% 0;
        margin-left: 2%;
        position: absolute;
        left: 79%;
        top: 2%;
        background-color: transparent;
    }

    .side-bar-mobile .list{

        width: 80%;

    }

    .side-bar-mobile .list .item{

        width: 100%;
        padding: 7% 0;
        font-size: 23px;
        font-family: 'Barlow Condensed', sans-serif;


    }


}