<div class="cover-section">
        <div class="cover-contact">
            <div class="contact-item phone">
                <i class="fa-solid fa-phone"></i>
                <div class="desc-item">
                    <p class="title">Numéro de téléphone</p>
                    <p class="num">+216 27 595 239</p>
                </div>
            </div>
        </div>
        <div class="cover-image" [ngStyle]="{'background-image': this.bannerBgImage}"></div>
        <div class="content-cover-section" (click)="closeRoomsSliderFormReserv($event)"><p>{{this.bannerTitle}}</p></div>

        <div class="btn-to-rooms-and-suites" routerLink="/room-grid" (mouseover)="overBtn(btnRoomSuites)" (mouseout)="outBtn(btnRoomSuites)">
            <div class="bg-btn" id="bgBtn" #btnRoomSuites></div>
            <p>Nos suites</p>
        </div>



        <div class="form-home-page" [formGroup]="reservationChambreForm">
            <div class="input-col-6-form">
                <div class="input">
                    <input placeholder="Date d'arrivée" readonly  formControlName='date_arrive'  class="input-show" #dateDebut />
                    <input [matDatepicker]="dateDebutReserv" class="date-picker-no-show" [min]="todayDate" (dateChange)="this.getDateDebutValue($event,dateDebut)" formControlName='date_arrive' [matDatepickerFilter]="DateNoDispoFilter2" />
                    <mat-datepicker-toggle [for]="dateDebutReserv"></mat-datepicker-toggle>
                    <mat-datepicker #dateDebutReserv></mat-datepicker>
                </div>
                <div class="input">
                    <input placeholder="Date de départ" readonly formControlName='date_depart'  class="input-show" #dateFin />
                    <input [matDatepicker]="dateFinReserv"[min]="DateArr"  [max]="maxResvation" class="date-picker-no-show" (dateChange)="this.getDateFinValue($event,dateFin)" formControlName='date_depart' >
                    <mat-datepicker-toggle [for]="dateFinReserv"></mat-datepicker-toggle>
                    <mat-datepicker #dateFinReserv></mat-datepicker>
                </div>
            </div>
            <button type="submit" [disabled]="!reservationChambreForm.valid" (click)="sliderReservFormOpen(sliderContainerRoomsDispo)" [innerHtml]="btnReserveHtmlValue"></button>
        </div>
</div>

        
        <!--div class="form-home-page" >
            <div class="input-col-6-form">
                <div class="input">
                    <input placeholder="Date d'arrivée" readonly class="input-show" #dateDebut/>
                    <input [matDatepicker]="dateDebutReserv" class="date-picker-no-show" (dateChange)="this.getDateDebutValue($event,dateDebut)" />
                    <mat-datepicker-toggle [for]="dateDebutReserv"></mat-datepicker-toggle>
                    <mat-datepicker #dateDebutReserv></mat-datepicker>
                </div>
                <div class="input">
                    <input placeholder="Date de départ" readonly class="input-show" #dateFin/>
                    <input [matDatepicker]="dateFinReserv" class="date-picker-no-show" (dateChange)="this.getDateFinValue($event,dateFin)">
                    <mat-datepicker-toggle [for]="dateFinReserv"></mat-datepicker-toggle>
                    <mat-datepicker #dateFinReserv></mat-datepicker>
                </div>
            </div>
            <button [innerHtml]="btnReserveHtmlValue" (click)="sliderReservFormOpen(sliderContainerRoomsDispo)"></button>
        </div-->




        <div class="slider-after-btn-reserv-clicked" id="sliderContainerRoomsDispo" #sliderContainerRoomsDispo>
            
            <div class="btns-slider" #btnSlide1>
                <div class="btn-left"><i class="fa-solid fa-arrow-left"></i></div>
                <div class="btn-right"><i class="fa-solid fa-arrow-right"></i></div>
            </div>

            <div class="next-btn" *ngIf="current_step_reserv_form === 'step 1'">
                <div class="btn" (click)="nextStepReservSlider(containerSlides,btnSlide1,closeFormBtn)">suivant</div>
            </div>

            <div class="container-slides-reserv" #containerSlides>
                
                <div class="swiper rooms-list-dispo" id="containerSwiperRooms">
                    <div class="swiper-wrapper" id="roomListDispoContainer"></div>
                </div>

            </div>

            <div class="close-reserv-rooms" #closeFormBtn (click)="closeReservFormOpen(sliderContainerRoomsDispo)" ><i class="fa-solid fa-xmark"></i></div>


            <div   [formGroup]="client_info" class="form-reserv-client-infos" *ngIf="current_step_reserv_form === 'step 2'">
                
                <div class="flex-inputs">
                    <div class="input">
                       
                        <label>Nom</label><br>
                        <input type="text"  placeholder="Nom" formControlName='nom'>
                        <br>
                        <label class="alertErrorInput" *ngIf="client_info.controls.nom.hasError('required') && client_info.controls.nom.touched">Le nom est obligatoire</label>
                        <br>
                        
                    </div>
                    <div class="input">
                        <label>Prénom</label><br>
                        <input   type="text" placeholder="Prénom" formControlName='prenom'>
                        <label class="alertErrorInput"  *ngIf="client_info.controls.prenom.hasError('required') && client_info.controls.prenom.touched" >Le prenom est obligatoire</label>
                    </div>
                </div>
                <div class="input">
                    <label>Adresse Email</label><br>
                    <input type="text" placeholder="Adresse Email" formControlName='email'>
                    <label class="alertErrorInput"  *ngIf="client_info.controls.email.hasError('required') && this.client_info.controls.email.touched" >Adresse email est obligatoire</label>
                    <label class="alertErrorInput"  *ngIf="client_info.controls.email.hasError('email') && this.client_info.controls.email.touched" >Adresse email invalide</label>
                </div>
                <div class="input">
                    <label>Numéro de téléphone</label><br>
                    <input type="number" placeholder="Numéro de téléphone" formControlName='tel' (input)="validPhone($event.target.value)">
                    <label class="alertErrorInput"  *ngIf="client_info.controls.tel.hasError('required') && this.client_info.controls.tel.touched" >Téléphone est obligatoire</label>
                    <!-- <label *ngIf="client_info.controls.phone.hasError.('maxlength')" style="color: red;">phone non exact</label>
                    <label *ngIf="client_info.controls.phone.hasError.('minlength')" style="color: red;">phone non exact</label> -->
                     <label class="alertErrorInput"  *ngIf="testLengthPhone">numéro invalide</label>
                </div>
                <div class="input">
                    <label>Nombre de presonnes</label><br>
                    <label class="alertErrorInput"  *ngIf="client_info.controls.nbr_personne.hasError('required') && client_info.controls.nbr_personne.touched"  (input)="validPressonne($event.target.value)">champ obligatoire</label>
                    <label class="alertErrorInput"  *ngIf="client_info.controls.nbr_personne.hasError('max') && client_info.controls.nbr_personne.touched" >maximum 20 presonnes pour 8 suites</label>
                    <label class="alertErrorInput"  *ngIf="testLengthPr" >maximum 4 presonnes pour un suite</label>
                    <input type="number" placeholder="Nombre de presonnes" formControlName='nbr_personne' >
                </div>
                <button class="confirm-btn-reserv" [disabled]="!client_info.valid" (click)="register()" >confirmer</button>
                <button class="return-btn-reserv" (click)="nextStepReservSlider(containerSlides,btnSlide1,closeFormBtn)">retour</button>

            </div>


        </div>


    <div class="form-home-page-mobile">
        
        <div class="form-content" [formGroup]="reservationChambreFormMobile">
            
            <div class="input-col-6-form" >
                <div class="input">
                    <input placeholder="Date d'arrivée" readonly formControlName='date_arrive_mobile' class="input-show" #dateDebutMobile/>
                    <input [matDatepicker]="dateDebutReservMobile" [min]="todayDate" class="date-picker-no-show" (dateChange)="this.getDateDebutValue($event,dateDebutMobile)"  [matDatepickerFilter]="DateNoDispoFilter2"  />
                    <mat-datepicker-toggle [for]="dateDebutReservMobile"></mat-datepicker-toggle>
                    <mat-datepicker #dateDebutReservMobile></mat-datepicker>
                </div>

                <div class="input">
                    <input placeholder="Date de départ" readonly formControlName='date_depart_mobile' class="input-show" #dateFinMobile/>
                    <input [matDatepicker]="dateFinReservMobile" [min]="DateArr" [max]="maxResvation" class="date-picker-no-show" (dateChange)="this.getDateFinValue($event,dateFinMobile)">
                    <mat-datepicker-toggle [for]="dateFinReservMobile"></mat-datepicker-toggle>
                    <mat-datepicker #dateFinReservMobile></mat-datepicker>
                </div>
            </div>

            <button type="submit"  (click)="sliderReservFormOpen(sliderContainerRoomsDispo)">Réserver</button>

        </div>
        
    </div>
  