@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300&family=Gilda+Display&display=swap');

.nav-bar{

    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;

}


.nav-bar{

    width: 100%;
    height: 20%;
    position: absolute;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;

}

.nav-bar .logo{

    width: 17%;
    transform: scale(1.3);

}


.nav-bar .menu-nav-bar{

    width: 50%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-bar .menu-nav-bar .list{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-bar .menu-nav-bar .list .item{

    font-size: 1.6vw;
    font-weight: 300;
    color: white;
    cursor: pointer;
    transition: .4s;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: .1vw;


}

.nav-bar .menu-nav-bar .list .item.active{

    color: #aa8453;

}


.nav-bar .menu-nav-bar .list .item:hover{

    color: #aa8453;

}

.cover-section{

    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}

.cover-section .cover-image{

    width: 100%;
    height: 100%;
    animation: imagesAnim 6s infinite alternate;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


@keyframes imagesAnim{

    from{
        transform: scale(1.5);
    }
    to{
        transform: scale(1.2);
    }

}

.cover-section .content-cover-section{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;

}

.cover-section .content-cover-section p{

    width: 75%;
    text-align: center;
    font-size: 5vw;
    color: white;
    font-family: 'Gilda Display', serif;
    line-height: 10vw;

}

.cover-section .cover-contact{

    width: 43%;
    height: 11%;
    position: absolute;
    z-index: 8;
    top: 40%;
    left: -17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: rotateZ(270deg);

}

.cover-section .cover-contact .contact-item{

    width: 49%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.cover-section .cover-contact .contact-item .desc-item{

    width: 80%;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;

}

.cover-section .cover-contact .contact-item i{

    font-size: 1.7vw;
    background-color: transparent;
    border-radius: 100vw;
    border: .2vw solid white;
    width: 19%;
    padding: 4% 0;
    display: flex;
    justify-content: center;
    color: white;
    margin-right: 3%;
    transition: .4s;
    transform: rotateZ(88deg);

}

.cover-section .cover-contact .contact-item .desc-item .title{

    font-size: 1.4vw;
    margin-left: 5%;

}

.cover-section .cover-contact .contact-item .desc-item .num{

    font-size: 2.5vw;
    color: #aa8453;
    letter-spacing: .2vw;

}

.cover-section .cover-contact .contact-item:hover i{

    border-color: #aa8453;

}


.cover-section .btn-to-rooms-and-suites{

    width: 12%;
    height: 6%;
    color: white;
    text-transform: uppercase;
    font-size: 1.4vw;
    border: .1vw solid white;
    position: absolute;
    z-index: 6;
    top: 67%;
    left: 43%;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: .1vw;
    cursor: pointer;

}

.cover-section .btn-to-rooms-and-suites p{

    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.cover-section .btn-to-rooms-and-suites .bg-btn{

    position: absolute;
    width: 0;
    height: 100%;
    background-color: white;
    border: none;
    pointer-events: none;
    z-index: 0;
    transition: width .4s;
    bottom: -1%;

}

.cover-section .btn-to-rooms-and-suites:hover{

    color: black;

}


.form-home-page{
    
    width: 100%;
    height: 15%;   
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5;
    bottom: 3%;
    left: 0;
    border-radius: 2px;
    padding-right: 2%;

}

.form-home-page .input-col-6-form{

    display: flex;
    height: 60%;
    width: 48%;
    align-items: center;
    justify-content: space-around;

}


.form-home-page .input-col-6-form .input{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    position: relative;
    border: none;
    border-right: .1vw solid gray;

}

.form-home-page .input{

    width: 27%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    position: relative;
    border: 2px solid #8c332d;

}


.form-home-page .input i{

    width:14px;
    text-align: center;
    font-size: 21px;

}

.form-home-page .input .date-picker-no-show{

    height: 100%;
    background-color: transparent;
    border: none;
    opacity: 0;
    pointer-events: none;

}

.form-home-page .input .input-show{

    margin: 0;
    position: absolute;
    z-index: 2;
    left: 12%;
    font-size: 1.3vw;
    height: 100%;
    width: 75%;
    text-align: left;
    padding: 0;
    background-color: transparent;
    border:none;

}

.form-home-page .input .input-show.input-text{

    left: 4%;

}

.form-home-page button{

    width: 18%;
    height: 60%;
    background-color: #aa8453;
    color: white;
    font-size: 2.3vw;
    cursor: pointer;
    font-family: 'Barlow Condensed', sans-serif;
    border: 2px solid transparent;
    transition: .4s;
    padding-bottom: .3%;

}


.form-home-page button:hover{

    background-color: black;

}

.form-home-page-mobile{

    display: none;

}


@media (max-width:700px){

    .nav-bar .logo {
        width: 65%;
        height: auto;
        margin-top: 87%;
    }

    .cover-section .cover-contact{

        display: none;

    }

    .cover-section .btn-to-rooms-and-suites{

        width: 46%;
        height: 6%;
        font-size: 21px;
        top: 67%;
        left: 27%;

    }

    .nav-bar-onscroll .menu-bar-icon{

        width: 14%;
        height: 50%;
        background-color: #00800000;
        position: absolute;
        top: 20%;
        left: 77%;
        z-index: 5;
        display: flex;
        font-size: 23px;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        color: black;

    }

    .cover-section .content-cover-section p{

        font-size: 37px;
        width: 82%;
        line-height: auto;

    }

    .nav-bar .menu-nav-bar{
        display: none;
    }

    .nav-bar-onscroll .menu-bar-icon{

        width: 14%;
        height: 50%;
        background-color: #00800000;
        position: absolute;
        top: 20%;
        left: 77%;
        z-index: 5;
        display: flex;
        font-size: 23px;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        color: black;

    }

    .nav-bar-onscroll .menu-nav-bar{
        display: none;
    }

    .nav-bar-onscroll .logo{
        width: 54%;
        margin-top: 4%;
        transform: translateX(0);
    }

    .form-home-page{

        display: none;

    }


    .form-home-page-mobile{

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 250px;
        background-color: #f8f5f0;

    }

    .form-home-page-mobile .form-content{

        display: block;
        width: 93%;

    }
    .form-home-page-mobile .form-content .input-col-6-form{

        display: block;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: -6%;

    }


    .form-home-page-mobile .form-content .input-col-6-form .input{

        width: 100%;
        height: 53px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        position: relative;
        border: none;
        margin-bottom: 8%;

    }

    .form-home-page-mobile .form-content .input{

        width: 27%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        position: relative;
        border: 2px solid #8c332d;

    }


    .form-home-page-mobile .form-content .input i{

        width:14px;
        text-align: center;
        font-size: 21px;

    }

    .form-home-page-mobile .form-content .input .date-picker-no-show{

        height: 100%;
        background-color: transparent;
        border: none;
        opacity: 0;
        pointer-events: none;

    }

    .form-home-page-mobile .form-content .input .input-show{

        margin: 0;
        position: absolute;
        z-index: 2;
        left: 12%;
        font-size: 16px;
        height: 100%;
        width: 75%;
        text-align: left;
        padding: 0;
        background-color: transparent;
        border:none;

    }

    .form-home-page-mobile .form-content .input .input-show.input-text{

        left: 4%;

    }

    .form-home-page-mobile .form-content button{

        width: 100%;
        height: 19%;
        background-color: #aa8453;
        color: white;
        font-size: 24px;
        cursor: pointer;
        font-family: 'Barlow Condensed', sans-serif;
        border: 2px solid transparent;
        transition: .4s;
        padding: 3% 0;
        margin-top: 5%;

    }


    .form-home-page-mobile .form-content button:hover{

        background-color: black;

    }

}