<div class="nav-bar">
        <img src="/assets/img/banner/ichkeul-logo.png" class="logo">
        <div class="menu-nav-bar">
            <div class="list">
                <div class="item" routerLink="/">Acceuil</div>
                <div class="item" routerLink="/about">À propos</div>
                <div class="item" routerLink="/room-grid">Nos Suites</div>
                <div class="item" routerLink="/">Notre cuisine</div>
                <div class="item" routerLink="/">Nos Activités</div>
                <div class="item" routerLink="/contact">Contact</div>
            </div>
        </div>
</div>
<div class="cover-section">
        <div class="cover-image" [ngStyle]="{'background-image': this.bannerBgImage}"></div>
        <div class="content-cover-section">
            <div class="title-cover-section">{{this.bannerTitle}}</div>
        </div>

        <app-logo></app-logo>


        <div class="form-home-page">

            <div class="input-col-6-form">
                <div class="input">
                    <input id="dateDebut" placeholder="Date d'arrivée" class="input-show" />
                    <input [matDatepicker]="dateDebutReserv" class="date-picker-no-show" (dateChange)="this.getDateDebutValue($event)" />
                    <mat-datepicker-toggle [for]="dateDebutReserv"></mat-datepicker-toggle>
                    <mat-datepicker #dateDebutReserv></mat-datepicker>
                </div>

                <div class="input">
                    <input id="dateFin" placeholder="Date de départ" class="input-show" />
                    <input [matDatepicker]="dateFinReserv" class="date-picker-no-show" (dateChange)="this.getDateFinValue($event)">
                    <mat-datepicker-toggle [for]="dateFinReserv"></mat-datepicker-toggle>
                    <mat-datepicker #dateFinReserv></mat-datepicker>
                </div>
            </div>

            <button>Réserver</button>
        </div>
</div>

<div class="contact-box">
            
        <div class="item">
            <i class="fa-solid fa-phone"></i>
            <div>
                <p>Numéro de téléphone</p>
                <span>+216 27 595 239</span>
            </div>
        </div>

        <div class="item">
            <i class="fa-regular fa-envelope"></i>
            <div>
                <p>Adresse email</p>
                <span>Support@darichkeul.tn</span>
            </div>
        </div>

</div>