<div class="our-services">
    <div class="content">
        <div class="desc-services">
            <p class="sb-title">Les délices de notre chef</p>
            <div class="description">
                Cuisine artisanale et style rustique. Dar ichkeul  est une proposition imbattable.
                Ici la parole est donnée à la nature sauvage et aux paysans qui la domptent.  Notre cuisine est comme la vie paysanne, brute et généreuse marquée par la puissance du feu de bois et la fraîcheur végétale.
                Dar Ichkeul vous propose une cuisine 100% faite maison dont voici quelques exemples qui vous régaleront les papilles. les légumes paysans sont accueillies en direct de notre potager 
            </div>
        </div>
        <div class="slider">
            <div class="btn-slider left slide-left"  ><i class="fa-solid fa-angle-left"></i></div>
            <div class="btn-slider right slide-right" ><i class="fa-solid fa-angle-right"></i></div>
            <div class="slider-prices">
                <div class="container">
                    <div class="swiper tranding-slider">
                        <div class="swiper-wrapper" id="containerSlides"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
