<div class="slider-cover-restau">

    <div class="container-slider-restau">
            
        <div class="swiper restau-slider">
                
            <div class="swiper-wrapper" id="containerSliderRestau"></div>

        </div>

        <div class="btn-slider-restau slide-restau-left"><i class="fa-solid fa-angle-left"></i></div>
        <div class="btn-slider-restau slide-restau-right"><i class="fa-solid fa-angle-right"></i></div>

    </div>
        
</div>
<div class="rooms-suites">
    <div class="rooms-list">
        <div class="content"> 
            <div class="flex-item flex-vertical">                        
                <div class="item" data-aos="fade-right" *ngFor="let room of horizontal_Suites" [routerLink]="'/room-details/'+room.id"> 
                    <div class="cover-item" [style.background-image]="'url('+room.gridimage+')'"></div>
                    <div class="content" >
                        <button [routerLink]="'/room-details/'+room.id">Details</button>
                        <div class="title-price">
                            <p class="price">{{room.price}} DT / {{room.period}}</p>
                            <p class="title">{{room.title}}</p>
                            <div class="hr"></div>
                            <div class="description-item" [innerHtml]="room.longdesc"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-item flex-vertical">                        
                <div class="item" data-aos="fade-right" *ngFor="let room of horizontal_Suites2" [routerLink]="'/room-details/'+room.id">
                    <div class="cover-item" [style.background-image]="'url('+room.gridimage+')'"></div>
                    <div class="content" >
                        <button [routerLink]="'/room-details/'+room.id">Details</button>
                        <div class="title-price">
                            <p class="price">{{room.price}} DT / {{room.period}}</p>
                            <p class="title">{{room.title}}</p>
                            <div class="hr"></div>
                            <div class="description-item" [innerHtml]="room.longdesc"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-item flex-vertical">                        
                <div class="item" data-aos="fade-right" *ngFor="let room of horizontal_Suites3" [routerLink]="'/room-details/'+room.id">
                    <div class="cover-item" [style.background-image]="'url('+room.gridimage+')'"></div>
                    <div class="content" >
                        <button [routerLink]="'/room-details/'+room.id">Details</button>
                        <div class="title-price">
                            <p class="price">{{room.price}} DT / {{room.period}}</p>
                            <p class="title">{{room.title}}</p>
                            <div class="hr"></div>
                            <div class="description-item" [innerHtml]="room.longdesc"></div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>

<div class="services-flex-list">
    <div class="content">
        <p class="title">Nos services</p>
        <div class="services-list">   
            <div class="item-serv" data-aos="fade-up">  
                <i class="fa-solid fa-earth-asia"></i>
                <p class="title">Aéroport</p>
                <div class="description">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>
            </div>
            <div class="item-serv" data-aos="fade-up">                
                <i class="fa-solid fa-car"></i>
                <p class="title">Parking </p>
                <div class="description">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>
            </div>
            <div class="item-serv" data-aos="fade-up">
                <i class="fa-solid fa-utensils"></i>
                <p class="title">Petit déjeuner</p>  
                <div class="description">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>     
            </div>
            <div class="item-serv" data-aos="fade-up">
                <i class="fa-solid fa-person-swimming"></i>
                <p class="title">piscine</p>
                <div class="description">
                   Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>
            </div>
            <div class="item-serv" data-aos="fade-up">
                <i class="fa-solid fa-wifi"></i>
                <p class="title">Wifi</p>
                <div class="description">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>
            </div>
            <div class="item-serv" data-aos="fade-up">                    
                <i class="fa-solid fa-mug-saucer"></i>
                <p class="title">Café Nespresso</p>
                <div class="description">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>
            </div>
        </div>
    </div>
</div>


<div class="reserv-form-contact-page">
    <div class="form" *ngIf="current_form === 'date'">
        <div class="title-form">RÉSERVER</div>
        <div class="input date">
            <input [matDatepicker]="dateDebutReservMobile" placeholder="Date d'arrivée" class="date-picker-no-show" />
            <mat-datepicker-toggle style="width: 16%;" [for]="dateDebutReservMobile"></mat-datepicker-toggle>
            <mat-datepicker #dateDebutReservMobile></mat-datepicker>
        </div>
        <div class="input date">
            <input [matDatepicker]="dateFinReservMobile" placeholder="Date de depart" class="date-picker-no-show"  />
            <mat-datepicker-toggle style="width: 16%;" [for]="dateFinReservMobile"></mat-datepicker-toggle>
            <mat-datepicker #dateFinReservMobile></mat-datepicker>
        </div>
        <button (click)="nextForm()">RESERVER</button>
    </div>
    <div class="form suiv-form" *ngIf="current_form === 'infos'">
        <label>Nom et Prénom</label>
        <label class="alert">Obligatoire</label>
        <div class="input">
            <input type="text" placeholder="Nom et Prénom">
        </div>
        <label>Adresse Email</label>
        <label class="alert">Obligatoire</label>
        <div class="input">
            <input type="text" placeholder="Adresse Email">
        </div>
        <label>Téléphone</label>
        <label class="alert">Obligatoire</label>
        <div class="input">
            <input type="text" placeholder="Numéro de Téléphone">
        </div>
        <button (click)="confirmReservation()">CONFIRMER</button>
    </div>
</div>

<div class="message-box-reserv" id="msgBoxReserv">
    <i class="fa-solid fa-check"></i>
    <span>Réservation confirmé avec succées</span>
</div>

<app-footer-two></app-footer-two>