<section class="video-wrap full-section " style="height: auto;padding: 17%;background-image:url('assets/img/bg/05.jpg')">
    <a class="popup-video" id="playBtn">
        <img src="assets/img/icon/07.png" alt="icon">
    </a>

    <!--iframe width="680" height="480" src="https://www.youtube.com/embed/7BGNAGahig8" title="NABE SPA official commercial 2019 HD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe-->


    <video name="media" webkit-playsinline="true" playsinline="true" id="videoAutoPlay">
        <source src="/assets/img/video.mp4" type="video/mp4">
    </video>
</section>