<div class="slider-cover-restau">
    <div class="container-slider-restau">
        <div class="swiper restau-slider">
            <div class="swiper-wrapper" id="containerSliderRestau"></div>
        </div>
        <div class="btn-slider-restau slide-restau-left"><i class="fa-solid fa-angle-left"></i></div>
        <div class="btn-slider-restau slide-restau-right"><i class="fa-solid fa-angle-right"></i></div>
    </div>
    <div class="arrow-btn-bottom" (click)="toBottom(restauAboutSection)"><i class="fa-solid fa-arrow-down"></i></div>
</div>
<div class="restau-about" #restauAboutSection>
    <div class="title">Dar Ichkeul</div>
    <div class="sb-title">Notre cuisine</div>
    <div class="restau-description">
        Le poulailler, la campagne, les cages… Chaque espace représente une ambiance champêtre et définit les caractéristiques propres de la vie agricole. Un défi des plus intéressants qui se relève merveilleusement grâce au jeu intense de couleurs, matériaux et textures.
    </div>
    <div class="section-title">Hours</div>
    <div class="section-content">
        <div class="hour-item">
            <i class="fa-regular fa-clock"></i>
            <span>Petit déjeuner : 7.00 h – 11.00 h</span>
        </div>
        <div class="hour-item">
            <i class="fa-regular fa-clock"></i>
            <span>Déjeuner : 12.00h – 14.00 h</span>
        </div>
        <div class="hour-item">
            <i class="fa-regular fa-clock"></i>
            <span>Dîner : De 7.00h - 9.00h</span>
        </div>
    </div>
</div>

<div class="restau-menu">
    <div class="title">Restaurant Menu</div>
    <div class="container-slider-menu">
        <div class="swiper slider-menu">
            <div class="swiper-wrapper" id="containerSliderTitles"></div>
        </div>
        <div class="btn-menu-slider left-menu-btn"><i class="fa-solid fa-angle-left"></i></div>
        <div class="btn-menu-slider right-menu-btn"><i class="fa-solid fa-angle-right"></i></div>
    </div>
    <div class="menus">
        <div class="list-container">
            <div class="list left-list">
                <div class="menu-item" *ngFor="let item of menuLeft">
                    <div class="item-title">
                        <span class="name"> {{item.name}} </span>
                        <span class="price"> {{item.price}} DT</span>
                    </div>
                    <div class="item-description">{{item.phraseDescription}}</div>
                </div>
            </div>
            <div class="list right-list">
                <div class="menu-item" *ngFor="let item of menuRight">
                    <div class="item-title">
                        <span class="name"> {{item.name}} </span>
                        <span class="price"> {{item.price}} DT</span>
                    </div>
                    <div class="item-description">{{item.phraseDescription}}</div>
                </div>                    
            </div>
        </div>
    </div>
</div>

<div class="testimonial-section" id="containerTestSlider" style="background-image: url('/assets/img/photos_new_content/les_salons/IMG_6891.jpg') ;">
    <div class="container-ctn">
        <div class="content">
            <p class="title">Témoignage</p>
            <p class="subject-section">Ce que nos clients disent de nous</p>
            <div class="hr"></div>
            <div class="container-slider">     
                <div class="swiper testimonilas-slider" id="containerSwiperTestimonials">   
                    <div class="swiper-wrapper" id="containerTestimonialsSlider"></div>
                    <div class="swiper-pagination pagination-testimonials-pc"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-testimonials" id="containerTestSliderMobile">
        <div class="content">
            <div class="header">
                <div class="title">TÉMOIGNAGE</div>
                <div class="subject">Ce que nos clients disent de nous</div>
                <div class="hr"></div>
            </div>
            <div class="slider testimonials-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide av-slide">
                        <div class="description">
                            Nous avons passé le week-end dernier un séjour en famille dans cette merveilleuse maison d hotes. L'accueil et le service sont à la hauteur de ce site exceptionnel.
                        </div>
                        <div class="info-user">
                            <img src="assets/img/testimonial/01.png" />
                            <div class="details">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="name">Mohamed Amous</div>
                                <div class="profession">Founder, qux co.</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide av-slide">
                        <div class="description">
                            Une belle surprise sur la région de Bizerte pour moi j'adore l'endroit reste à voir sur place 😍.
                        </div>
                        <div class="info-user">
                            <img src="assets/img/testimonial/02.png" />
                            <div class="details">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="name">Sarra Mihoub</div>
                                <div class="profession">Founder, hilix</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide av-slide">
                        <div class="description">
                            un endroit féérique et un service hors norme, top.
                        </div>
                        <div class="info-user">
                            <img src="assets/img/testimonial/03.png" />
                            <div class="details">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="name">Ahlem Amara</div>
                                <div class="profession">Founder, Condo</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide av-slide">
                        <div class="description">
                            On a fait l'expérience et c'était Magnifique vraiment exceptionnel.
                        </div>
                        <div class="info-user">
                            <img src="assets/img/testimonial/04.png" />
                            <div class="details">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="name">Khédija Siala Bouassida</div>
                                <div class="profession">Founder, hilix</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination pagination-testimonials"></div>
            </div>
        </div>
</div>

<app-footer-two></app-footer-two>