<div class="text-block-section">
        <div class="content">
            <div class="desc-block">
                <div class="stars">
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                    <i class="star-icon"></i>
                </div>
                <p class="title">Dar ichkeul</p>
                <p class="sb-title">Le luxe et La nature</p>
                <p class="description">
                    Dar Ichkeul vous offre le calme et la beauté de la nature, pour vous permettre de vous détendre,vous ressourcer et passer d'agréables moments en famille ou entre amis.Vous y serez chaleureusement accueillis, nous vous souhaitons à tous, la bienvenue.
                </p>
                <div class="reservation-container"><i class="fa-brands fa-whatsapp"></i><div class="text">
                    <p>Réservation</p>
                    <p class="num">+216 27 595 239</p>
                </div></div>
                <div class="read-more-btn">Lire plus</div>
            </div>
            <div class="images">
                <div class="image right" data-aos="fade-up" style="background-image: url('/assets/img/text-block/dar-ic2.jpg');"></div>
                <div class="image left" data-aos="fade-up"  style="background-image: url('/assets/img/text-block/dar-ic1.jpg');"></div>
            </div>
        </div>  
</div>


<div class="rooms-suites">
        <p class="title" data-aos="fade-up" >Dar ichkeul</p>
        <p class="sb-title" data-aos="fade-up">Rooms & Suites</p>
        <div class="rooms-list">
            <div class="content"> 
                    <div class="flex-item flex-vertical">
                            
                        <div class="item" data-aos="fade-right" *ngFor="let room of vertical_items">
                            <div class="cover-item" [style.background-image]="'url(/assets/img/text-block/'+room.image+')'"></div>
                            <div class="content">
                                <button [routerLink]="'/room-details/'+room.id">Details</button>
                                <div class="title-price">
                                    <p class="price">{{room.price}} DT / Nuit</p>
                                    <p class="title">{{room.title}}</p>
                                    <div class="hr"></div>
                                    <div class="description-item">{{room.description}}</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="flex-item flex-horizontal">
                        <div class="item" data-aos="fade-up" *ngFor="let room of horizontal_items">
                            <div class="cover-item" [style.background-image]="'url(/assets/img/text-block/'+room.image+')'"></div>
                            <div class="content">
                                <button>Details</button>
                                <div class="title-price">
                                    <p class="price">{{room.price}} DT / Nuit</p>
                                    <p class="title">{{room.title}}</p>
                                    <div class="hr"></div>
                                    <div class="description-item">{{room.description}}</div>
                                </div>
                            </div>
                        </div>                         
                    </div>
            </div>
        </div>
</div>