<!-- text about section  -->

<div class="text-block-section">
    <div class="content">
        <div class="desc-block">
            <p class="title">Dar ichkeul</p>
            <p class="sb-title">Le luxe et La nature</p>
            <p class="description">
                Dar Ichkeul vous offre le calme et la beauté de la nature, pour vous permettre de vous détendre,vous ressourcer et passer d'agréables moments en famille ou entre amis.Vous y serez chaleureusement accueillis, nous vous souhaitons à tous, la bienvenue.
            </p>
            <div class="reservation-container">
                <i class="fa-brands fa-whatsapp"></i>
                <div class="text">
                    <p>Réservation</p>
                    <p class="num">+216 27 595 239</p>
                </div>
            </div>
        </div>
            <div class="images">
                <div class="image right" data-aos="fade-up" style="background-image: url('assets/img/photos_new_content/les_slides/IMG-0307.jpg');"></div>
                <div class="image left" data-aos="fade-up"  style="background-image: url('assets/img/photos_new_content/les_slides/B0F1A858-DD8D-468A-89C0-1C9C0494E37A.JPG');"></div>
            </div>
        </div>  
</div>

<!-- Rooms List section  -->

<div class="rooms-suites">
    <p class="title" data-aos="fade-up" >Dar ichkeul</p>
    <p class="sb-title" data-aos="fade-up">Nos suites</p>
    <div class="rooms-list">
        <div class="content"> 
            <div class="flex-item flex-vertical">                        
                <div class="item" data-aos="fade-right" *ngFor="let room of horizontal_Suites" [routerLink]="'/room-details/'+room.id">
                    <div class="cover-item" [style.background-image]="'url('+room.gridimage+')'"></div>
                    <div class="content" >
                        <button [routerLink]="'/room-details/'+room.id">Réserver</button>
                        <div class="title-price">
                            <p class="price">{{room.price}} DT / {{room.period}}</p>
                            <p class="title">{{room.title}}</p>
                            <div class="hr"></div>
                            <div class="description-item" [innerHtml]="room.longdesc"></div>
                        </div>
                    </div>
                </div>
            </div> 
                    
            <div class="flex-item flex-horizontal">
                <div class="item" data-aos="fade-up" *ngFor="let room of  vertical_Suites" [routerLink]="'/room-details/'+room.id">
                    <div class="cover-item" [style.background-image]="'url('+room.gridimage+')'"></div>
                    <div class="content" >
                        <button [routerLink]="'/room-details/'+room.id">Réserver</button>
                        <div class="title-price">
                            <p class="price">{{room.price}} DT / {{room.period}}</p>
                            <p class="title">{{room.title}}</p>
                            <div class="hr"></div>
                            <div class="description-item" [innerHtml]="room.longdesc"></div>
                        </div>
                    </div>
                </div>                         
            </div>

            <div class="flex-item flex-vertical">                
                <div class="item" data-aos="fade-right" *ngFor="let room of horizontal_Suites2" [routerLink]="'/room-details/'+room.id">
                    <div class="cover-item" [style.background-image]="'url('+room.gridimage+')'"></div>
                    <div class="content" >
                        <button [routerLink]="'/room-details/'+room.id">Réserver</button>
                        <div class="title-price">
                            <p class="price">{{room.price}} DT / {{room.period}}</p>
                            <p class="title">{{room.title}}</p>
                            <div class="hr"></div>
                            <div class="description-item" [innerHtml]="room.longdesc"></div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>  
    </div>    
</div>

<!-- best prices section  --> 

<app-prices></app-prices>

<!--  video section   -->

<!--app-video-wrap></app-video-wrap-->

<!-- services  -->


<div class="services-flex-list">
    <div class="content">
        <p class="title">Nos services</p>
        <div class="services-list">   
            <div class="item-serv" data-aos="fade-up">  
                <i class="fa-solid fa-earth-asia"></i>
                <p class="title">Aéroport</p>
                <div class="description">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>
            </div>
            <div class="item-serv" data-aos="fade-up">                
                <i class="fa-solid fa-car"></i>
                <p class="title">Parking </p>
                <div class="description">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>
            </div>
            <div class="item-serv" data-aos="fade-up">
                <i class="fa-solid fa-utensils"></i>
                <p class="title">Petit déjeuner</p>  
                <div class="description">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>     
            </div>
            <div class="item-serv" data-aos="fade-up">
                <i class="fa-solid fa-person-swimming"></i>
                <p class="title">piscine</p>
                <div class="description">
                   Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>
            </div>
            <div class="item-serv" data-aos="fade-up">
                <i class="fa-solid fa-wifi"></i>
                <p class="title">Wifi</p>
                <div class="description">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>
            </div>
            <div class="item-serv" data-aos="fade-up">                    
                <i class="fa-solid fa-mug-saucer"></i>
                <p class="title">Café Nespresso</p>
                <div class="description">
                    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire
                </div>
            </div>
        </div>
    </div>
</div>


<!---  testimoials sectio  --->


<div class="testimonial-section" *ngIf="screen === 'computer'" style="background-image: url('/assets/img/photos_new_content/les_salons/IMG_6891.jpg') ;">
    <div class="container-ctn">
        <div class="content">
            <p class="title">Témoignage</p>
            <div class="hr"></div>
            <div class="container-slider">     
                <div class="swiper testimonilas-slider" id="containerSwiperTestimonials">   
                    <div class="swiper-wrapper" id="containerTestimonialsSlider"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-testimonials" *ngIf="screen === 'mobile'">
        <div class="content">
            <div class="header">
                <div class="title">TÉMOIGNAGE</div>
                <div class="subject">Ce que nos clients disent de nous</div>
                <div class="hr"></div>
            </div>
            <div class="slider testimonials-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide av-slide">
                        <div class="description">
                            Nous avons passé le week-end dernier un séjour en famille dans cette merveilleuse maison d hotes. L'accueil et le service sont à la hauteur de ce site exceptionnel.
                        </div>
                        <div class="info-user">
                            <img src="assets/img/testimonial/01.png" />
                            <div class="details">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="name">Mohamed Amous</div>
                                <div class="profession">Founder, qux co.</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide av-slide">
                        <div class="description">
                            Une belle surprise sur la région de Bizerte pour moi j'adore l'endroit reste à voir sur place 😍.
                        </div>
                        <div class="info-user">
                            <img src="assets/img/testimonial/02.png" />
                            <div class="details">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="name">Sarra Mihoub</div>
                                <div class="profession">Founder, hilix</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide av-slide">
                        <div class="description">
                            un endroit féérique et un service hors norme, top.
                        </div>
                        <div class="info-user">
                            <img src="assets/img/testimonial/03.png" />
                            <div class="details">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="name">Ahlem Amara</div>
                                <div class="profession">Founder, Condo</div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide av-slide">
                        <div class="description">
                            On a fait l'expérience et c'était Magnifique vraiment exceptionnel.
                        </div>
                        <div class="info-user">
                            <img src="assets/img/testimonial/04.png" />
                            <div class="details">
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="name">Khédija Siala Bouassida</div>
                                <div class="profession">Founder, hilix</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination pagination-testimonials"></div>
            </div>
        </div>
</div>


















